extends ../../layouts/sidebar
block page-content
  .blog_list
    .row
      .col-12
       .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_img1.jpg', alt='blog_img1')
          .blog_content
            h5.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 4 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-12
        .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_img2.jpg', alt='blog_img2')
          .blog_content
            h5.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 3 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-12
        .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_img3.jpg', alt='blog_img3')
          .blog_content
            h5.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-12
        .blog_post
          .blog_img
            .carousel_slide1.owl-carousel.owl-theme(data-autoplay='true', data-autoheight='true', data-loop='true', data-nav='true', data-dots='false', data-autoplay-timeout='3000')
              a(href='#')
                img(src='images/blog_img4.jpg', alt='blog_img4')
              a(href='#')
                img(src='images/blog_img5.jpg', alt='blog_img5')
          .blog_content
            h5.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-12
        .blog_post
          .blog_img
            .fit-videos
              iframe(width='540', height='304', src='7e90gBu4pas.html', allow='autoplay; encrypted-media', allowfullscreen='')
          .blog_content
            h5.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-12
        .blog_post
          .blog_img
            .fit-videos
              iframe(src='231236542.html', width='540', height='304', allowfullscreen='')
          .blog_content
            h5.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 3 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-lg-12
        .blog_post
          .blog_img
            .fit-videos
              iframe(allow='autoplay', src='player.html', width='540', height='304')
          .blog_content
            h5.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 3 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
  .row
    .col-12.mt-3.mt-lg-4
      ul.pagination.justify-content-center
        li.page-item.disabled
          a.page-link(href='#', tabindex='-1')
            i.ion-ios-arrow-thin-left
        li.page-item.active
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#')
            i.ion-ios-arrow-thin-right
block sidebar-content
    .widget
      .search_widget
        form
          input(required='', placeholder='Search...', type='text')
          button.btn-submit(type='submit', name='submit', value='Submit')
            span.ti-search
    .widget
      h5.widget_title About Me
      .about_widget
        a(href='#')
          img(src='images/about_author.jpg', alt='about_author')
        h5.about_author Calvin William
        span.author_email info@yourmail.com
        p
          | Lorem ipsum dolor sit amet elit adipiscing elit. Praesent id dolor dui dapibus gravida elit.
    .widget
      h5.widget_title Categories
      ul.list_none.widget_categories.border_bottom_dash
        li
          a(href='#')
            span.categories_name Dried Products
            span.categories_num (9)
        li
          a(href='#')
            span.categories_name Vegetables
            span.categories_num (6)
        li
          a(href='#')
            span.categories_name Fruits Fresh
            span.categories_num (4)
        li
          a(href='#')
            span.categories_name Juice
            span.categories_num (7)
        li
          a(href='#')
            span.categories_name Fresh Meal
            span.categories_num (12)
    .widget
      h5.widget_title Recent Posts
      ul.recent_post.border_bottom_dash.list_none
        li
          .post_content
            .post_img
              a(href='#')
                img(src='images/letest_post1.jpg', alt='letest_post1')
            .post_info
              h6
                a(href='#') Lorem ipsum dolor sit amet, consectetur
              p.small.m-0 April 14, 2018
        li
          .post_content
            .post_img
              a(href='#')
                img(src='images/letest_post2.jpg', alt='letest_post2')
            .post_info
              h6
                a(href='#') Lorem ipsum dolor sit amet, consectetur
              p.small.m-0 April 14, 2018
        li
          .post_content
            .post_img
              a(href='#')
                img(src='images/letest_post3.jpg', alt='letest_post3')
            .post_info
              h6
                a(href='#') Lorem ipsum dolor sit amet, consectetur
              p.small.m-0 April 14, 2018
    .widget
      h5.widget_title tags
      .tags
        a(href='#') General
        a(href='#') Design
        a(href='#') jQuery
        a(href='#') Branding
        a(href='#') Modern
        a(href='#') Blog
        a(href='#') Quotes
        a(href='#') Advertisement
    .widget
      h5.widget_title Instagram Feeds
      ul.list_none.instafeed
        li
          a(href='#')
            img(src='images/insta_img1.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
        li
          a(href='#')
            img(src='images/insta_img2.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
        li
          a(href='#')
            img(src='images/insta_img3.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
        li
          a(href='#')
            img(src='images/insta_img4.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
        li
          a(href='#')
            img(src='images/insta_img5.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
        li
          a(href='#')
            img(src='images/insta_img6.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
        li
          a(href='#')
            img(src='images/insta_img7.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
        li
          a(href='#')
            img(src='images/insta_img8.jpg', alt='insta_img')
            span.insta_icon
              i.ti-instagram
    .widget
      h5.widget_title Follow Me
      ul.list_none.social_icons.radius_social
        li
          a.sc_facebook(href='#')
            i.fab.fa-facebook-f
        li
          a.sc_twitter(href='#')
            i.fab.fa-twitter
        li
          a.sc_google(href='#')
            i.fab.fa-google-plus-g
        li
          a.sc_instagram(href='#')
            i.fab.fa-instagram
        li
          a.sc_pinterest(href='#')
            i.fab.fa-pinterest
