// Footer Section Start
footer
  .voffset-50
  .row
    .container
      .row
        .voffset-50
        .col-footer-1
          .col-auto
              a(href='index.html')
                img.logo(src='images/logo-white-t.png', alt='')
        .col-footer-2
          h4 HIK Tea
          ul.navbar-vertical
            li
              a(href='#') Giới Thiệu
            li
              a(href='#') Menu
            li
              a(href='#') Blog
            li
              a(href='#') Cửa hàng
        .col-lg-5.col-footer-3.footer-contact
          h4 Liên Hệ
          p
            span 38 Đường Số 10, Bình Hưng, 
            span  0869.269.168
            span Bình Chánh, HCM
            span
              a(href='mailto:hiktea38@gmail.com') hiktea38@gmail.com
            span.margintop Thứ 2 - Chủ Nhật 
            span 7:30 - 22:00
      .voffset-50
    .container-fluid
      .col-12.copyright
        .voffset-20
        .row
          p Copyright 2019 HIK Tea
// Booking Section End
