button.scw-trigger-icon.scw-trigger(type='button')
  i.icon-gears
  i.icon-line-cross
nav.c-layout-quick-sidebar
  .c-header
    button.c-link.ti-close(type='button')
      i.icon-login
  .c-content
    .c-section
      h3 Theme Colors
      .c-settings
        span.c-color.c-default.c-active(data-color='default')
        span.c-color.c-green1(data-color='green1')
        span.c-color.c-green2(data-color='green2')
        span.c-color.c-green3(data-color='green3')
        span.c-color.c-yellow1(data-color='yellow1')
        span.c-color.c-yellow2(data-color='yellow2')
        span.c-color.c-yellow3(data-color='yellow3')
        span.c-color.c-red1(data-color='red1')
        span.c-color.c-red2(data-color='red2')
        span.c-color.c-red3(data-color='red3')
        span.c-color.c-purple1(data-color='purple1')
        span.c-color.c-purple2(data-color='purple2')
        span.c-color.c-purple3(data-color='purple3')
        span.c-color.c-blue1(data-color='blue1')
        span.c-color.c-blue2(data-color='blue2')
        span.c-color.c-blue3(data-color='blue3')
        span.c-color.c-brown1(data-color='brown1')
        span.c-color.c-brown2(data-color='brown2')
        span.c-color.c-brown3(data-color='brown3')
        span.c-color.c-dark1(data-color='dark1')
        span.c-color.c-dark2(data-color='dark2')
        span.c-color.c-dark3(data-color='dark3')
    .c-section
      h3 Header Type
      .c-settings
        input.c-setting_header-type.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='boxed', value='boxed')
        input.c-setting_header-type.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='fluid', value='fluid')
    .c-section
      h3 Header Mode
      .c-settings
        input.c-setting_header-mode.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='fixed', value='fixed')
        input.c-setting_header-mode.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='static', value='static')
    .c-section
      h3 Mega Menu Style
      .c-settings
        input.c-setting_megamenu-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='dark', value='dark')
        input.c-setting_megamenu-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='light', value='light')
    .c-section
      h3 Font Style
      .c-settings
        input.c-setting_font-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase.active(type='button', data-value='default', value='default')
        input.c-setting_font-style.btn.btn-sm.c-btn-square.c-btn-border-1x.c-btn-white.c-btn-sbold.c-btn-uppercase(type='button', data-value='light', value='light')
    .c-section
      h3 Reading Style
      .c-settings
        a.btn.btn-secondary.active(href='http://www.themehats.com/themes/jango/') LTR
        a.btn.btn-secondary(href='http://www.themehats.com/themes/jango/rtl/') RTL
    .c-section
      h3 Webaseline DEMOS
      .c-settings.c-demos.c-bs-grid-reset-space
        .row
          .col-md-6
            a.c-demo-container.c-demo-img-lg(href='../default/index.html')
              .c-demo-thumb
                img.c-demo-thumb-img(src='../images/preview/demo-bootstrap.jpg')
          .col-md-6
            a.c-demo-container.c-demo-img-lg(href='../default/index.html')
              .c-demo-thumb
                img.c-demo-thumb-img(src='../images/preview/demo-slack.jpg')
        .row
          .col-md-6
            a.c-demo-container(href='../corporate_1/index.html')
              .c-demo-thumb.active.c-thumb-left
                img.c-demo-thumb-img(src='../images/preview/demo-gmail.jpg')
          .col-md-6
            a.c-demo-container(href='../agency_1/index.html')
              .c-demo-thumb.c-thumb-right
                img.c-demo-thumb-img(src='../images/preview/demo-github.jpg')
    