.card.d-block
  .card-img-top
    img(src='../../images/thumb/3.jpg', alt='Card image cap')
    .badges.badges-right
      a.badge.badge-warning(href='#') Product
  .card-body
    h5.card-title Image at top with right label
    p
      | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on the card title.
    a.fs-12.fw-600(href='#')
      | Read more 
      i.fa.fa-angle-right.pl-1
