.row.gap-y
  .col-6.col-lg-4
    .bg-primary.text-white.lead.p-5 Primary
  .col-6.col-lg-4
    .bg-secondary.lead.p-5 Secondary
  .col-6.col-lg-4
    .bg-success.text-white.lead.p-5 Success
  .col-6.col-lg-4
    .bg-danger.text-white.lead.p-5 Danger
  .col-6.col-lg-4
    .bg-warning.text-white.lead.p-5 Warning
  .col-6.col-lg-4
    .bg-info.text-white.lead.p-5 Info
  .col-6.col-lg-4
    .bg-light.lead.p-5 Light
  .col-6.col-lg-4
    .bg-dark.text-white.lead.p-5 Dark
