.row.gap-y
  .col-6.col-lg-4
    .bg-pale-primary.lead.p-5 Primary
  .col-6.col-lg-4
    .bg-pale-secondary.lead.p-5 Secondary
  .col-6.col-lg-4
    .bg-pale-success.lead.p-5 Success
  .col-6.col-lg-4
    .bg-pale-danger.lead.p-5 Danger
  .col-6.col-lg-4
    .bg-pale-warning.lead.p-5 Warning
  .col-6.col-lg-4
    .bg-pale-info.lead.p-5 Info
  .col-6.col-lg-4
    .bg-pale-dark.lead.p-5 Dark
