.row.gap-y
  span.text-primary.m-4 text-primary
  span.text-secondary.m-4 text-secondary
  span.text-success.m-4 text-success
  span.text-danger.m-4 text-danger
  span.text-warning.m-4 text-warning
  span.text-info.m-4 text-info
  br
  span.text-default.m-4 text-default
  span.text-muted.m-4 text-muted
  span.text-light.m-4 text-light
  span.text-lighter.m-4 text-lighter
  span.text-lightest.m-4 text-lightest
  span.text-dark.m-4 text-dark
  span.text-white.m-4.bg-dark text-white
