.pricing-1.popular
  p.plan-name Popular
  br
  h2.price.text-success
    span.price-unit $
    |  39
  br
  .text-muted
    small 30 days free trial
    br
    small Ticket support
    br
    small 100 GB attachment
    br
  br
  p.text-center.py-3
    a.btn.btn-success(href='#') Get started
