.card.card-body.text-center.shadow-1.hover-shadow-6.py-6
  p.lead.text-dark.text-uppercase.fw-600.ls-1.mb-0 Starter
  p.text-lighter Monthly Package
  p.lead-7.fw-600.text-dark
    | $6.
    span.lead-4.align-text-top 99
  p
    | Single Website
    br
    |                   60GB Bandwidth
    br
    |                   Manual Import
    br
    |                   No Support
    br
  br
  div
    a.btn.btn-round.btn-outline-secondary.w-200(href='#') Sign up
