include ../mixins/common
doctype html
html
  head
    block page-title
      title Title
    block head
      include ../partials/head
  body
    block page-content
    block page-foot
      include ../partials/foot