.pricing-3.popular
  span.popular-tag Best choice
  h6.plan-name Popular
  h2.price $59
  ul
    li 7 Websites
    li Auto Import
    li 10 Hour Support
  br
  a.btn.btn-round.btn-primary.w-200(href='#') Get started
