.card.text-center.shadow-1.hover-shadow-6
  .card-img-top.text-white.bg-img.h-200.d-flex.align-items-center(style='background-image: url(../../images/thumb/3.jpg)', data-overlay='1')
    .position-relative.w-100
      p.lead-4.text-uppercase.fw-600.ls-1.mb-0 Starter
      p Monthly Package
  .card-body.py-6
    p.lead-7.fw-600.text-dark
      | $6.
      span.lead-4.align-text-top 99
    p
      | Single Website
      br
      |                     60GB Bandwidth
      br
      |                     Manual Import
      br
      |                     No Support
      br
    br
    div
      a.btn.btn-round.btn-outline-secondary.w-200(href='#') Sign up
