include ../mixins/common
doctype html
html
  head
    block page-title
      title= htmlWebpackPlugin.options.title
    block head
      include ../partials/head
  body#page-top.hik_skin(class=htmlWebpackPlugin.options.class)
    include ../partials/loading
    block page-header
      include ../partials/header
    main
      block page-container
    block page-footer
      include ../partials/footer
    block page-foot
      include ../partials/foot