extends ../layouts/page
block page-container
 main.main-content
  section#boxed.section.bg-gray
   .container
     header.section-header
       h2 Boxed
     .row
      .col-md-8.mx-auto
        h6.divider Button colors
        include button/colors.pug
      .col-md-8.mx-auto
        h6.divider Button variations
        include button/variations.pug
      