.card.shadow-4
  .card-body
    h5.card-title Shadowed
    p
      | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on the card title.
    a.fs-12.fw-600(href='#')
      | Read more 
      i.fa.fa-angle-right.pl-1
