.container {
    min-width: 970px;
    max-width: none !important;
}
#mobile-menu.hidden-md {display: none}
#menu_header {background-color: #F2F2F2}
.side-nav-categories.hidden-xs.hidden-sm,
#nav.hidden-xs.hidden-sm.row 
{display: block !important}
.box-category ul#left-menu {
  min-width: 100%;
  width: auto; 
}
.box-category > ul#left-menu  li > a {white-space: nowrap}
.box-category > ul#left-menu > li > a.lv0 {padding-right: 35px}
.std .slider-items-products .col-md-2 {
  width: 16.66666666666667%;
  float: left
}
.std .slider-items-products .col-md-10 {
  width: 83.33333333333333%;
  float: left;
} 
   .side-nav-categories .block-title {
    background: #ED1E2A;
}
.search_text {
    border: 2px solid #943233;
    border-right: 1px solid #ED1E2A;
}
.header_search input {
    border-top: 2px solid #ED1E2A;
    border-bottom: 2px solid #ED1E2A;
}
.btn {
    border-color: #ED1E2A;
}
.phone-box span {
    color: #ED1E2A;
}
#cart {
    border: 1px solid #ED1E2A;
}
.side-nav-categories div.spverticalmenu:before {
    background: #ED1E2A;
}
#nav>li>a:hover:nth-child(1), #nav>li>a.active:nth-child(1) {
    color: #ED1E2A!important;
}
.box-category>ul#left-menu>li:hover>a {
    color: #ED1E2A;
}
body .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #ED1E2A;
}
.table-service .service-th .service-th-div .fa {
    color: #ED1E2A;
}
.new_title h2 {
    background-color: #ED1E2A;
}
.index-column-2 .links a:hover {
    color: #ED1E2A;
}
.actions .button.btn-cart {
    background: #ED1E2A;
}
img.eye-img {
    background: #ED1E2A;
}
.best-seller, .best-seller-pro {
    border-top: 2px solid #ED1E2A;
}
.price {
    color: #CC0000!important;
}
.links .active a {
    color: #ED1E2A;
}
.newsletter-wrap button.subscribe {
    background: #ED1E2A;
}
.newsletter-wrap input[type="email"] {
    border: 1px solid #ED1E2A;
}
.social .link a {
    background-color: #ED1E2A!important;
} 
li.level0.active>a>span {
    color: #ED1E2A!important;
}
footer a:hover {
    color: #ED1E2A;
}
footer address {
    color: #000;
}
footer a, footer p {
    color: #000;
}
.email-footer a {
    color: #000;
}
footer .footer-column a {
    color: #000;
} 
.product-view .product-shop .add-to-box .btn-cart {
    background: #ED1E2A;
}
a:hover {
    color: #ED1E2A;
}
.add-to-cart .qty {
    color: #000;
} 
.button {
    background: #ED1E2A;
} 
footer .coppyright {
    color: #ffeb00;
} 
#nav li.drop-menu ul li:hover>a {
    color: #ED1E2A;
}
.tab-collection-grid a.active {
    background-color: #ED1E2A;
}
.tab-collection-list a.active {
    background-color: #ED1E2A;
}  
.new_title.center.color-2 h2 {
    background-color: #15429D;
}
.new_title.center.color-2 {
    border-top: 2px solid #15429D;
} 
.mini-cart .actions .btn-checkout {
    border: 1px solid #ED1E2A;
    background: #ED1E2A;
}
.mini-cart .actions .btn-checkout:hover {
    background: #15429D;
    border-color: #15429D;
}
.mini-cart .actions .view-cart:hover {
    background: #15429D;
    border-color: #15429D;
}
.btn {
    background-color: #ED1E2A !important;
    border-color: #ED1E2A;
}  
.callnow-button-phone span {
    font-weight: bold;
    font-size: 20px;
}
.tab-pane > .button_view_more {
    position: absolute;
    z-index: 1;
    right: -1px;
    top: -11px;
}
.tab-pane > .button_view_more a {
    border-radius: 100px;
    background-color: #ED1E2A;
    padding: 5px 10px;
    color: #fff;
}
.tab-pane > .button_view_more a:after {
    content: "\f101";
    font-family: FontAwesome, sans-serif;
    margin-left: 5px;
}
@media (max-width: 991px) and (min-width: 768px) {
    .category-products.row.masonry-container .col-item .product-wrapper {height: auto}
} 
.col-item .item-title a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 14px; */
    color: #000000;
    font-size: 20px;
}
.index-column-2 .links a {
    color: #222222;
    font-weight: 500;
    font-size: 20px;
}
footer h4 {
    font-size: 20px;
}
footer .footer-column a {
    font-size: 20px;
} 