.pricing-1
  p.plan-name Normal
  br
  h2.price
    span.price-unit $
    |  9
  br
  .text-muted
    small 30 days free trial
    br
    small Ticket support
    br
    small 100 GB attachment
    br
  br
  p.text-center.py-3
    a.btn.btn-primary(href='#') Get started
