.text-center
  button.btn.btn-primary(type='button') Primary
  button.btn.btn-secondary(type='button') Secondary
  button.btn.btn-success(type='button') Success
  button.btn.btn-danger(type='button') Danger
  button.btn.btn-warning(type='button') Warning
  button.btn.btn-info(type='button') Info
  br
  br
  button.btn.btn-light(type='button') Light
  button.btn.btn-dark(type='button') Dark
  button.btn.btn-link(type='button') Link
  br
  br
  button.btn.btn-facebook(type='button') Facebook
  button.btn.btn-google(type='button') Google
  button.btn.btn-twitter(type='button') Twitter
