.text-center
  h6.divider Label
  button.btn.btn-label.btn-primary(type='button')
    label
      i.fa.fa-play
    |  Primary
  button.btn.btn-label.btn-success(type='button')
    label
      i.fa.fa-shopping-cart
    |  Success
  button.btn.btn-label.btn-facebook(type='button')
    label
      i.fa.fa-facebook
    |  Facebook
  button.btn.btn-label.btn-google(type='button')
    label
      i.fa.fa-google
    |  Google
  button.btn.btn-label.btn-twitter(type='button')
    label
      i.fa.fa-twitter
    |  Twitter
  h6.divider.mt-7 Round
  button.btn.btn-round.btn-primary(type='button') Primary
  button.btn.btn-round.btn-success(type='button') Success
  button.btn.btn-round.btn-danger(type='button') Danger
  button.btn.btn-round.btn-warning(type='button') Warning
  button.btn.btn-round.btn-info(type='button') Info
  h6.divider.mt-7 Outline
  button.btn.btn-outline-primary(type='button') Primary
  button.btn.btn-outline-success(type='button') Success
  button.btn.btn-outline-danger(type='button') Danger
  button.btn.btn-outline-warning(type='button') Warning
  button.btn.btn-outline-info(type='button') Info
  h6.divider.mt-7 Square
  button.btn.btn-square.btn-primary(type='button')
    i.fa.fa-play
  button.btn.btn-square.btn-secondary(type='button')
    i.fa.fa-play
  button.btn.btn-square.btn-success(type='button')
    i.fa.fa-play
  button.btn.btn-square.btn-danger(type='button')
    i.fa.fa-play
  button.btn.btn-square.btn-warning(type='button')
    i.fa.fa-play
  button.btn.btn-square.btn-info(type='button')
    i.fa.fa-play
  h6.divider.mt-7 Circle
  button.btn.btn-circle.btn-primary(type='button')
    i.fa.fa-play
  button.btn.btn-circle.btn-secondary(type='button')
    i.fa.fa-play
  button.btn.btn-circle.btn-success(type='button')
    i.fa.fa-play
  button.btn.btn-circle.btn-danger(type='button')
    i.fa.fa-play
  button.btn.btn-circle.btn-warning(type='button')
    i.fa.fa-play
  button.btn.btn-circle.btn-info(type='button')
    i.fa.fa-play
  h6.divider.mt-7 Glass buttons
  .rounded.bg-img.p-7(style='background-image: url(../assets/img/bg/11.jpg)')
    button.btn.btn-glass.btn-primary(type='button') Primary
    button.btn.btn-glass.btn-secondary(type='button') Secondary
    button.btn.btn-glass.btn-success(type='button') Success
    button.btn.btn-glass.btn-danger(type='button') Danger
    button.btn.btn-glass.btn-warning(type='button') Warning
    button.btn.btn-glass.btn-info(type='button') Info
  h6.divider.mt-7 Video buttons
  .rounded.bg-primary.p-7
    button.btn.btn-circle.btn-light(type='button')
      i.fa.fa-play
    button.btn.btn-circle.btn-light.text-danger(type='button')
      i.fa.fa-play
    button.btn.btn-circle.btn-glass.btn-light(type='button')
      i.fa.fa-play
    button.btn.btn-circle.btn-outline-light(type='button')
      i.fa.fa-play
  h6.divider.mt-7 App Download
  a(href='#')
    img(src='../assets/img/app/badge-apple.png', alt='download on app store')
  a(href='#')
    img(src='../assets/img/app/badge-google.png', alt='download on google play')
