table.table.b-0
  thead
    tr
      th
        strong Product Feature
      th.bg-gray.text-center
        strong Starter
      th.bg-gray.text-center
        strong Standard
      th.bg-gray.text-center
        strong Premium
  tbody
    tr
      td Disk space
      td.bg-gray.text-center 500 MB
      td.bg-gray.text-center 5 GB
      td.bg-gray.text-center Unlimited
    tr
      td Monthly bandwidth
      td.bg-gray.text-center 5 GB
      td.bg-gray.text-center 50 GB
      td.bg-gray.text-center Unlimited
    tr
      td Hosted domains
      td.bg-gray.text-center 3
      td.bg-gray.text-center 10
      td.bg-gray.text-center 50
    tr
      td Subdomains
      td.bg-gray.text-center 50
      td.bg-gray.text-center 100
      td.bg-gray.text-center Unlimited
    tr
      td FTP users
      td.bg-gray.text-center 50
      td.bg-gray.text-center 100
      td.bg-gray.text-center Unlimited
    tr
      td Backup
      td.bg-gray.text-center Weekly
      td.bg-gray.text-center Twice a week
      td.bg-gray.text-center Daily
    tr
      td Personal nameserver
      td.bg-gray.text-center
        i.ti-close.text-danger
      td.bg-gray.text-center
        i.ti-close.text-danger
      td.bg-gray.text-center
        i.ti-check.text-success
    tr
      td xCache
      td.bg-gray.text-center
        i.ti-close.text-danger
      td.bg-gray.text-center
        i.ti-close.text-danger
      td.bg-gray.text-center
        i.ti-check.text-success
    tr
      td Priority support
      td.bg-gray.text-center
        i.ti-close.text-danger
      td.bg-gray.text-center
        i.ti-check.text-success
      td.bg-gray.text-center
        i.ti-check.text-success
    tr
      td Money back guarantee
      td.bg-gray.text-center 14 Days
      td.bg-gray.text-center 21 Days
      td.bg-gray.text-center 30 Days
    tr
      td
      td.bg-gray.text-center
        p.py-4.lead-2.fw-400 $9 / mo
        a.btn.btn-sm.btn-primary(href='#') Buy now
      td.bg-gray.text-center
        p.py-4.lead-2.fw-400 $24 / mo
        a.btn.btn-sm.btn-success(href='#') Buy Plan
      td.bg-gray.text-center
        p.py-4.lead-2.fw-400 $39 / mo
        a.btn.btn-sm.btn-primary(href='#') Buy Plan
