#navbarSupportedContent.collapse.navbar-collapse.justify-content-end
  ul.navbar-nav
    li
      a.nav-link(href='ve-hik-tea.html') Về HIK TEA
    li
      a.nav-link(href='menu.html') Menu
    li
      a.nav-link(href='khuyen-mai.html') Khuyến Mãi
    li
      a.nav-link(href='hinh-anh.html') Hình Ảnh
    li
      a.nav-link(href='blog.html') Blog
    li
      a.nav-link(href='tuyen-dung.html') Tuyển Dụng
    li
      a.nav-link(href='cua-hang.html') Cửa Hàng
