extends ../layouts/page
block page-container
 main.main-content
  section#boxed.section.bg-gray
   .container
     header.section-header
       h2 Boxed
     .row
      .col-md-12.mx-auto
        h6.divider.mt-9 Pricing 1
      .col-md-4.mx-auto
        h6.divider Pricing 1 default
        include pricing/1/default.pug
      .col-md-4.mx-auto
        h6.divider Pricing 1 popular
        include pricing/1/popular.pug
      .col-md-12.mx-auto
        h6.divider.mt-9 Pricing 2
      .col-md-4.mx-auto
        h6.divider Pricing 2 default
        include pricing/2/default.pug
      .col-md-4.mx-auto
        h6.divider Pricing 2 popular
        include pricing/2/popular.pug
      .col-md-12.mx-auto
        h6.divider.mt-9 Pricing 3
      .col-md-4.mx-auto
        h6.divider Pricing 3 default
        include pricing/3/default.pug
      .col-md-4.mx-auto
        h6.divider Pricing 3 popular
        include pricing/3/popular.pug
      .col-md-12.mx-auto
        h6.divider.mt-9 Pricing 4
      .col-md-4.mx-auto
        h6.divider Pricing 4 default
        include pricing/4/default.pug
      .col-md-4.mx-auto
        h6.divider Pricing 4 popular
        include pricing/4/popular.pug
      .col-md-12.mx-auto
        h6.divider.mt-9 Pricing 5
      .col-md-4.mx-auto
        h6.divider Pricing 5 default
        include pricing/5/default.pug
      .col-md-4.mx-auto
        h6.divider Pricing 5 pro
        include pricing/5/pro.pug
      .col-md-8.mx-auto
        h6.divider Pricing horizontal-1
        include pricing/horizontal-1.pug
      .col-md-8.mx-auto
        h6.divider Pricing horizontal-2
        include pricing/horizontal-2.pug
      .col-md-8.mx-auto
        h6.divider Pricing tabs-1
        include pricing/tabs-1.pug
      .col-md-8.mx-auto
        h6.divider Pricing toggle-buttons
        include pricing/toggle-buttons.pug
      