script(src="js/jquery-1.12.4.min.js") 
script(src="js/jquery-ui.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js") 
script(src="js/owl.carousel.min.js") 
script(src="js/magnific-popup.min.js") 
script(src="js/waypoints.min.js") 
script(src="js/parallax.js") 
script(src="js/jquery.dd.min.js")
script(src="js/jquery.countdown.min.js") 
script(src="js/jquery.counterup.min.js")
script(src="js/jquery.parallax-scroll.js")
script(src="js/jquery.elevatezoom.js")
script(src="js/jquery.fitvids.js")
script(src="js/imagesloaded.pkgd.min.js")
script(src="js/isotope.min.js")
script(src="js/js.cookie.js")
script(src="js/scripts.js")