meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
title HIK Tea - Trung tâm gia sư uy tín chất lượng TP HCM
meta(name='keywords', content='HIK Tea, gia su, trung tam gia su, day kem, dạy kèm, dạy kèm tại nhà, trung tam day kem, trung tâm gia sư, trung tâm dạy kèm, gia sư')
meta(name='description', content='HIK Tea - Trung tâm gia sư dạy kèm uy tín chất lượng TP HCM, thường xuyên cập nhật lớp dạy kèm mới mỗi ngày.')
link(rel='canonical', href='https://www.giasunhantri.net/')
meta(property='og:locale', content='vi_VN')
meta(property='og:type', content='Article')
meta(property='og:title', content='HIK Tea - Trung tâm gia sư uy tín chất lượng TP HCM')
meta(content='HIK Tea - Trung tâm gia sư dạy kèm uy tín chất lượng TP HCM, thường xuyên cập nhật lớp dạy kèm mới mỗi ngày.', property='og:description')
meta(property='og:url', content='https://www.giasunhantri.net/')
meta(property='og:site_name', content='HIK Tea')
meta(property='og:image', itemprop='thumbnailUrl', content='https://www.giasunhantri.net/images/gia-su-nhan-tri.png')
link(rel='image_src', href='https://www.giasunhantri.net/images/gia-su-nhan-tri.png')
meta(itemprop='name', content='HIK Tea - Trung tâm gia sư uy tín chất lượng TP HCM')
meta(itemprop='description', content='HIK Tea - Trung tâm gia sư dạy kèm uy tín chất lượng TP HCM, thường xuyên cập nhật lớp dạy kèm mới mỗi ngày.')
meta(name='robots', content='all')
meta(name='copyright', content='HIK Tea')
meta(name='geo.placename', content='23 Bắc Hải, 15, Quận 10, Hồ Chí Minh, Việt Nam')
meta(name='geo.position', content='10.7859410;106.6637390')
meta(name='geo.region', content='VN-Hồ Chí Minh')
meta(name='ICBM', content='10.7859410, 106.6637390')
link(rel='shortcut icon', href='images/favicon.ico')
link(rel='apple-touch-icon', sizes='57x57', href='images/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='images/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='images/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='images/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='images/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='images/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='images/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='images/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='images/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='images/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='images/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
link(href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900', rel='stylesheet')
