// START HEADER
header.header_wrap.dark_skin.main_menu_uppercase.bg_black
  .container
    nav.navbar.navbar-expand-lg.txt_white
      a.navbar-brand(href='index.html')
        img.logo_light(src='images/logo_white.png', alt='logo')
        img.logo_dark(src='images/logo_dark.png', alt='logo')
        img.logo_default(src='images/logo_dark.png', alt='logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.ion-android-menu
      include ../components/menu-main
      ul.navbar-nav.attr-nav.align-items-center
        li
          a.nav-link.search_trigger(href='javascript:void(0);')
            i.ion-ios-search-strong
          .search-overlay
            .search_wrap
              form
                .rounded_input
                  input#search_input.form-control(type='text', placeholder='Search')
                button.search_icon(type='submit')
                  i.fas.fa-search
        li.dropdown.cart_wrap
          a.nav-link(href='#', data-toggle='dropdown')
            i.ion-bag
            span.cart_count 2
          .cart_box.dropdown-menu.dropdown-menu-right.bg_white
            ul.cart_list
              li
                a.item_remove(href='#')
                  i.ion-close
                a(href='#')
                  img(src='images/cart_thamb1.jpg', alt='cart_thumb1')
                  | Fresh Organic Strawberry
                span.cart_quantity
                  | 1 x 
                  span.cart_amount
                    span.price_symbole $
                    | 78.00
              li
                a.item_remove(href='#')
                  i.ion-close
                a(href='#')
                  img(src='images/cart_thamb2.jpg', alt='cart_thumb2')
                  | Fresh Organic Grapes
                span.cart_quantity
                  | 1 x 
                  span.cart_amount
                    span.price_symbole $
                    | 81.00
            .cart_footer
              p.cart_total
                | Total: 
                span.cart_amount
                  span.price_symbole $
                  | 159.00
              p.cart_buttons
                a.btn.btn-default.btn-radius.view-cart(href='cart.html') View Cart
                a.btn.btn-dark.btn-radius.checkout(href='checkout.html') Checkout
// END HEADER
