h3(style='margin: 0px; padding: 0px; outline: none; font-family: Arial, Helvetica, sans-serif; color: red; text-align: center;')
  span(style='margin: 0px; padding: 0px; outline: none; font-size: 10px;')
    span(style='margin: 0px; padding: 0px; outline: none; font-size: 20px;') NGÂN HÀNG Á CHÂU ACB (Chi Nhánh Bảy Hiền)
h3(style='margin: 0px; padding: 0px; outline: none; font-family: Arial, Helvetica, sans-serif; color: red; text-align: center;')
  span(style='margin: 0px; padding: 0px; outline: none; font-size: 10px;')
    img(alt='', height='53', src='images/acb.jpeg', style='margin: 0px; padding: 0px; outline: medium none currentcolor; border: medium none;', width='100')
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:16px;')
    span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
      span(style='margin: 0px; padding: 0px; outline: medium none currentcolor; color: rgb(0, 0, 255);')
        strong(style='margin: 0px; padding: 0px; outline: none;') Chủ Tài Khoản: MAI VĂN THÔNG
h3(style='margin: 0px; padding: 0px; outline: none; font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='margin: 0px; padding: 0px; outline: none; font-size: 20px;')
    span(style='font-size:16px;')
      span(style='font-size:14px;')
        span(style='color: rgb(0, 0, 255);')
          span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') SỐ TÀI KHOẢN: 
      span(style='font-size:18px;')
        span(style='color:#ff0000;')
          span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') 476237
hr(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif;')
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')
    strong(style='margin: 0px; padding: 0px; outline: none;')
      span(style='margin: 0px; padding: 0px; outline: none; font-size: 20px;') NGÂN HÀNG NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN VIỆT NAM
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')
    span(style='margin: 0px; padding: 0px; outline: none; font-size: 22px;')
      strong(style='margin: 0px; padding: 0px; outline: none;') (Chi Nhánh Tân Bình)
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
  img(alt='Kết quả hình ảnh cho logo ngân hàng', height='72', src='images/bidv.jpeg', style='margin: 0px; padding: 0px; outline: medium none currentcolor; border: medium none;', width='107')
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:16px;')
    span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
      span(style='margin: 0px; padding: 0px; outline: medium none currentcolor; color: rgb(0, 0, 255);')
        strong(style='margin: 0px; padding: 0px; outline: none;') Chủ Tài Khoản: MAI VĂN THÔNG
p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:14px;')
    span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
      span(style='color: rgb(0, 0, 255);')
        span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
          strong(style='margin: 0px; padding: 0px; outline: none;') SỐ TÀI KHOẢN: 
      span(style='color:#ff0000;')
        span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
          strong(style='margin: 0px; padding: 0px; outline: none;')
            span(style='font-size:18px;') 1606206132953
      span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
        strong(style='margin: 0px; padding: 0px; outline: none;')  
hr(style='font-family: Arial, Helvetica, sans-serif;')
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size: 20px;')
    span(style='color: rgb(0, 0, 255);') NGÂN HÀNG VIETINBANK (Chi Nhánh Tân Bình)
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  img(alt='Kết quả hình ảnh cho logo ngân hàng', height='42', src='images/vietin.jpeg', width='169')
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:16px;')
    span(style='color: rgb(0, 0, 255);') Chủ Tài Khoản: MAI VĂN THÔNG
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:16px;')
    span(style='font-size:14px;')
      span(style='color: rgb(0, 0, 255);') SỐ TÀI KHOẢN: 
    span(style='color:#ff0000;')
      span(style='font-size:18px;') 105868473090
  span(style='color: rgb(255, 0, 0);')
    span(style='font-size: 20px;')  
hr(style='font-family: Arial, Helvetica, sans-serif;')
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size: 20px;')
    span(style='color: rgb(0, 0, 255);') NGÂN HÀNG VIETCOMBANK (Chi Nhánh Tân Bình)
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  img(alt='Kết quả hình ảnh cho logo ngân hàng', height='52', src='images/vietcombank.jpeg', width='182')
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:16px;')
    span(style='color: rgb(0, 0, 255);') Chủ Tài Khoản: MAI VĂN THÔNG
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:14px;')
    span(style='color: rgb(0, 0, 255);')
      | SỐ TÀI KHOẢN:
      span(style='font-size:18px;')  
    span(style='font-size:18px;')
      span(style='color:#ff0000;') 0251002735992
  span(style='color:#ff0000;')
    span(style='font-size: 20px;')  
hr(style='font-family: Arial, Helvetica, sans-serif;')
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size: 20px;')
    span(style='color: rgb(0, 0, 255);') NGÂN HÀNG SACOMBANK (Chi Nhánh Tân Bình)
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  img(alt='Kết quả hình ảnh cho logo ngân hàng', height='31', src='images/sacombank.png', width='180')
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:16px;')
    span(style='color: rgb(0, 0, 255);') Chủ Tài Khoản: MAI VĂN THÔNG
h1(style='font-family: Arial, Helvetica, sans-serif; text-align: center;')
  span(style='font-size:14px;')
    span(style='color: rgb(0, 0, 255);') SỐ TÀI KHOẢN: 
    span(style='color:#ff0000;')
      span(style='font-size:18px;') 060181344477
    span(style='color: rgb(0, 0, 255);')  
hr(font-size:='', lucida='', style='margin: 0px; padding: 0px; outline: none; font-family: ')
h5(lucida='', style='margin: 0px; padding: 0px; outline: none; font-family: ')
h5(lucida='', style='margin: 0px; padding: 0px; outline: none; font-family: ')
  span(style='font-size:20px;')
    span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
      span(style='margin: 0px; padding: 0px; outline: none;') II/
    span(style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')
      span(style='margin: 0px; padding: 0px; outline: none;')  
    span(style='color:#0000ff;')
      span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
        span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Trực tiếp đến trung tâm nhận lớp dạy, 
    span(style='color:#ff0000;')
      span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
        span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Phí 40%
p
  span(style='font-size:20px;')
    strong
      em(style='font-size: 16px; color: red; font-family: Arial, Helvetica, sans-serif;') CÔNG TY TNHH DỊCH VỤ TƯ VẤN GIÁO DỤC NHÂN TRÍ
div
  div
    div
      div
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong
                span#cke_bm_118S(style='display: none;')  
                | TPHCM:
              |  1073/51 Cách Mạng Tháng 8, Phường 7, Q. Tân Bình, TPHCM
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel:0932279249', title='Gọi 0932279249')
              span(style='color:#0000ff;') 0932279249
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong Bình Dương:
              |  504 Đại lộ Bình Dương, Thủ Dầu Một, Bình Dương
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel:0902684422', title='Gọi 0902684422')
              span(style='color:#0000ff;') 0902684422
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong Đồng Nai:
              |  4 Lê Qúy Đôn, TP. Biên Hòa, Đồng Nai
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel:0909175008', title='Gọi 0909175008')
              span(style='color:#0000ff;') 0909175008
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong Cần Thơ:
              |  Khu 2 Đường 3 Tháng 2, Ninh Kiều, Cần Thơ
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel: 0707722456', title='Gọi  0707722456')
              span(style='color:#0000ff;')  0707722456
    div
      div
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong Hà Nội:
              |  136 Xuân Thủy, Cầu Giấy, Hà Nội
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel:0908880299', title='Gọi 0908880299')
              span(style='color:#0000ff;') 0908880299
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong Huế:
              |  34 Lê Lợi, Thành phố Huế
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel:0902504900', title='Gọi 0902504900')
              span(style='color:#0000ff;') 0902504900
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong Đà Nẵng:
              |  459 Tôn Đức Thắng, Liên Chiểu, Đà Nẵng
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel:0902457227', title='Gọi 0902457227')
              span(style='color:#0000ff;') 0902457227
        p
          span(style='color:#0000ff;')
            span(style='font-size:16px;')
              strong Vũng Tàu:
              |  80 Trương Công Định, Bà Rịa - Vũng Tàu
              br
              |                                                             Điện thoại:
          span(style='font-size:16px;')
            a(href='tel:0949803912', title='Gọi 0949803912')
              span(style='color:#0000ff;') 0949803912
p
  span#cke_bm_118E(style='display: none;')  