extends ../../layouts/blank
block page-content
 main.main-content.text-center.pb-lg-8
  .container
    h1.display-1.text-muted.mb-7 Page Not Found
    p.lead Seems you&apos;re looking for something that doesn&apos;t exist.
    br
    button.btn.btn-secondary.w-150.mr-2(type='button', onclick='window.history.back();') Go back
    a.btn.btn-secondary.w-150(href='../index.html') Return Home