.row
  #top-content-3col
    .row
      .col.s12.middle-banner
        img.myslideshow(src='images/le-tot-nghiep.jpg', alt='Gia sư Nhân Trí uy tín', title='Gia sư Nhân Trí uy tín', style='max-width:100%')
        img.myslideshow(src='images/gia-su.jpg', alt='Gia sư Nhân Trí chất lượng', title='gia sư Nhân Trí chất lượng', style='max-width:100%')
        img.myslideshow(src='images/gia-su2.jpg', alt='Gia sư Nhân Trí chuyên nghiệp', title='Gia sư Nhân Trí chuyên nghiệp', style='max-width:100%')
  #top-left-3col
    .row
      .col.s12
        .panel-heading(style='text-align:center; background-color:#ff0405')
          h3.panel-title
            | DÀNH CHO
            br
            |                                 PHỤ HUYNH - HỌC SINH
        .panel-heading(style='margin-top:10px; text-align:center; background-color:#008a32')
          h3.panel-title
            a(href='/dang-ky-tim-gia-su.html', title='đăng ký tìm gia sư tại trung tâm gia sư Nhân Trí')
              | ĐĂNG KÝ
              br
              |                                     TÌM GIA SƯ
        .panel-heading(style='margin-top:10px; text-align:center; background-color:#0397ff')
          h3.panel-title
            | LIÊN HỆ TÌM GIA SƯ
            br
            a.hotline(href='tel: 0932279249', title='Gọi 0932.279.249') 0932.279.249
        .image-link
          a(href='https://www.giasunhantri.net/gia-su-hien-co.html', title='Gia sư Nhân Trí hiện có')
            .bantay(style='width: 100%; float: left; text-align: center; font-size: 1.2em; font-weight: bold; padding-left: 10px; color: red; background: url(images/bantay.gif) left top no-repeat;')
              | Phụ Huynh - Học Sinh
              br
              | Chọn Gia Sư Hiện Có
  #top-right-3col
    .row
      .col.s12
        .panel-heading(style='text-align:center; background-color:#ff0405')
          h3.panel-title
            | DÀNH CHO
            br
            |                                 GIÁO VIÊN - SINH VIÊN
        .panel-heading(style='margin-top:10px; text-align:center; background-color:#008a32')
          h3.panel-title
            a(href='/dang-ky-lam-gia-su.html', title='Gia sư Nhân Trí - Đăng ký làm gia sư')
              | ĐĂNG KÝ
              br
              |                                     LÀM GIA SƯ
        .panel-heading(style='margin-top:10px; text-align:center; background-color:#0397ff')
          h3.panel-title
            | LIÊN HỆ LÀM GIA SƯ
            br
            a.hotline(href='tel: 0707722456', title='Gọi  0707.722.456')  0707.722.456
        .image-link
          a(href='https://www.giasunhantri.net/gia-su-nhan-tri-lop-day-hien-co.html', title='Gia sư Nhân Trí - Lớp dạy hiện có')
            .bantay(style='width: 100%; float: left; text-align: center; font-size: 1.2em; font-weight: bold; padding-left: 10px; color: red; background: url(images/bantay.gif) left top no-repeat;')
              | Giáo Viên - Sinh Viên
              br
              | Chọn Lớp Dạy Hiện Có
