// Start  Loading Mask
#mask
  .material-icon
    .spinner
      .right-side
        .bar
      .left-side
        .bar
    .spinner.color-2
      .right-side
        .bar
      .left-side
        .bar
// End Loading Mask
