.row.gap-y.mt-8
  .col-md-6.col-lg-4
    .card.border.hover-shadow-6
      a(href='#')
        img.card-img-top(src='../../images/thumb/1.jpg', alt='Card image cap')
      .card-body
        h5.card-title
          a(href='#') We relocated to a new garage
        p
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on the card title.
        a.fw-600.fs-12(href='#')
          | Read more 
          i.ti-angle-right.fs-7.pl-2
  .col-md-6.col-lg-4
    .card.border.hover-shadow-6
      a(href='#')
        img.card-img-top(src='../../images/thumb/2.jpg', alt='Card image cap')
      .card-body
        h5.card-title
          a(href='#') Top 5 content marketing strategies
        p
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on the card title.
        a.fw-600.fs-12(href='#')
          | Read more 
          i.ti-angle-right.fs-7.pl-2
  .col-lg-4.d-none.d-lg-flex
    .card.border.hover-shadow-6
      a(href='#')
        img.card-img-top(src='../../images/thumb/3.jpg', alt='Card image cap')
      .card-body
        h5.card-title
          a(href='#') Best practices for minimalist design
        p
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on the card title.
        a.fw-600.fs-12(href='#')
          | Read more 
          i.ti-angle-right.fs-7.pl-2
