.row.gap-y
  .col-md-6.col-lg-4
    .card.border.hover-shadow-6
      a(href='#')
        img.card-img-top(src='../../images/thumb/1.jpg', alt='Card image cap')
      .p-6.text-center
        p
          a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') News
        h5.mb-0
          a.text-dark(href='#') We relocated our office to a new designed garage
  .col-md-6.col-lg-4
    .card.border.hover-shadow-6
      a(href='#')
        img.card-img-top(src='../../images/thumb/2.jpg', alt='Card image cap')
      .p-6.text-center
        p
          a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') Marketing
        h5.mb-0
          a.text-dark(href='#') Top 5 brilliant content marketing strategies
  .col-lg-4.d-none.d-lg-flex
    .card.border.hover-shadow-6
      a(href='#')
        img.card-img-top(src='../../images/thumb/3.jpg', alt='Card image cap')
      .p-6.text-center
        p
          a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') Design
        h5.mb-0
          a.text-dark(href='#') Best practices for minimalist design with example
