extends ../../layouts/full
block page-content
 .row
  .col.s12
    .panel
      .panel-heading
        h1.panel-title
          a.breadcrumb(href='https://www.giasunhantri.net') Trang chủ
          a.breadcrumb(href='https://www.giasunhantri.net/tin-gia-su.html', title='Tin tức sự kiện của trung tâm gia sư Nhân Trí') Tin tức - sự kiện
      .panel-body(style='padding:5px 10px')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/GIA-SU-nhan-tri.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/GIA-SU-nhan-tri.html') GIA SƯ Nhân Trí
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Gia Sư Nhân Trí bằng nhiều năm kinh nghiệm trong công tác giảng dạy, chúng tôi hiểu rằng: DẠY KÈM là phương pháp tốt nhất để HỌC SINH YẾU dễ hiểu bài và HỌC SINH GIỎI nhanh nâng cao kiến thức.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/GIA-SU-nhan-tri.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/GIA-SU.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/GIA-SU.html') GIA SƯ
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Hiện nay các trung tâm gia sư mọc lên nhiều, đặc biệt ở Thành Phố Hồ Chí Minh giúp cho Phụ Huynh học sinh có nhiều lựa chọn. Nhưng câu hỏi  khiến Phụ Huynh quan tâm và băn khoăn là: Con tôi nên tìm gia sư dạy kèm tại nhà ở đâu để có hiệu quả? Mức học phí là bao nhiêu?
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/GIA-SU.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU.html') TRUNG TÂM GIA SƯ
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Trung tâm gia sư Nhân Trí uy tín TPHCM. Hiện nay trung tâm đang có nhiều lớp dạy kèm mới, học phí cao, Giáo Viên Sinh Viên có nhu cầu giảng dạy xin liên hệ tại ĐC: 1073/51 Cách Mạng Tháng 8, Phường 7, Q.Tân Bình TPHCM.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/GIA-SU-nhan-tri.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/GIA-SU-nhan-tri.html') GIA SƯ Nhân Trí
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;') Quý Thầy Cô, Quý Phụ Huynh, các em Sinh Viên thân mến!
            span(style='color:#0000ff;')
              | Một năm đã trôi qua, ngoài kia xuân đang mơn man gõ cửa từng nhà. Xuân đã đến rất gần, nắng xuân nhẹ nhàng loan tỏa khắp nơi mang theo những hương vị ngọt ngào của những ngày Tết cổ truyền của dân tộc.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/GIA-SU-nhan-tri.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/DAY-KEM-TAI-NHA.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/DAY-KEM-TAI-NHA.html') DẠY KÈM TẠI NHÀ
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Quý Phụ Huynh, ai cũng quan tâm việc học của con em mình ra sao vì việc học không chỉ giúp các em có nhiều kiến thức sâu rộng mà còn giúp con đường sự nghiệp trước mắt của các em xán lạn hơn. Trong quá trình học, học sinh thường kết hợp học ở trường với các thầy cô giáo và ôn luyện ở nhà với gia sư.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/DAY-KEM-TAI-NHA.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU.html') TRUNG TÂM GIA SƯ
          span.date (05/03/2019)
          br
          p
            a(href='http://www.giasunhantri.net/trung-tam-gia-su-001.html', title='trung tam gia su')
              span(style='color:#0000ff;') trung tam gia su
            span(style='color:#0000ff;')
              | Nhằm đáp ứng nhu cầu học thêm tại nhà cho con em quý phụ huynh và tạo công việc làm thêm cho gia sư là giáo viên, sinh viên trên địa bàn thành phố Hồ Chí Minh cũng như các tỉnh thành khác trên cả nước, trung tâm gia sư Nhân Trí là một trong những trung tâm gia sư đáp ứng tốt nhất nhu cầu trên.
          p
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/GIA-SU-UY-TIN.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/GIA-SU-UY-TIN.html') GIA SƯ UY TÍN
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Gia Sư Nhân Trí! Kính Gởi Quý Phụ Huynh Cùng Tất Cả Các Em Học Sinh Thân Mến! Gia Sư Nhân Trí bằng nhiều năm kinh nghiệm trong công tác giảng dạy, chúng tôi hiểu rằng: DẠY KÈM là phương pháp tốt nhất để HỌC SINH YẾU dễ hiểu bài và HỌC SINH GIỎI nhanh nâng cao kiến thức.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/GIA-SU-UY-TIN.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU-TPHCM.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU-TPHCM.html') TRUNG TÂM GIA SƯ TPHCM
          span.date (05/03/2019)
          br
          p
            a(href='http://www.giasunhantri.net/trung-tam-gia-su-001.html', title='trung tam gia su')
              span(style='color:#0000ff;') Trung tam gia su
            span(style='color:#0000ff;')
              | Nhân Trí. Nhằm đáp ứng nhu cầu học thêm tại nhà cho con em quý phụ huynh và tạo công việc làm thêm cho gia sư là giáo viên, sinh viên trên địa bàn thành phố Hồ Chí Minh cũng như các tỉnh thành khác trên cả nước, trung tâm gia sư Nhân Trí là một trong những trung tâm gia sư đáp ứng tốt nhất nhu cầu trên.
          p(style='font-family: Arial, Helvetica, sans-serif;')
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/TRUNG-TAM-GIA-SU-TPHCM.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/GIA-SU-DAY-KEM.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/GIA-SU-DAY-KEM.html') GIA SƯ DẠY KÈM
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Hiện nay các trung tâm gia sư mọc lên nhiều, đặc biệt ở Thành Phố Hồ Chí Minh giúp cho Phụ Huynh học sinh có nhiều lựa chọn. Nhưng câu hỏi  khiến Phụ Huynh quan tâm và băn khoăn là: Con tôi nên tìm gia sư dạy kèm tại nhà ở đâu để có hiệu quả? Mức học phí là bao nhiêu?
          p
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/GIA-SU-DAY-KEM.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/GIA-SU-TAI-NHA.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/GIA-SU-TAI-NHA.html') GIA SƯ TẠI NHÀ
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Gia Sư Nhân Trí Cung ứng dịch vụ gia sư chất lượng dạy kèm tại nhà trên TP.Hồ Chí Minh từ lớp 1 - 12 tất cả các môn, đủ mọi trình độ theo yêu cầu của quý PHHS 24/7. * Tổ chức các lớp học theo nhóm tại nhà học sinh hoặc tại Trung tâm gia sư Nhân Trí.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/GIA-SU-TAI-NHA.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/TIM-GIA-SU.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/TIM-GIA-SU.html') TÌM GIA SƯ
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Gia Sư Nhân Trí! Kính Gởi Quý Phụ Huynh Cùng Tất Cả Các Em Học Sinh Thân Mến! Bằng nhiều năm kinh nghiệm trong công tác giảng dạy, chúng tôi hiểu rằng: DẠY KÈM là phương pháp tốt nhất để HỌC SINH YẾU dễ hiểu bài và HỌC SINH GIỎI nhanh nâng cao kiến thức.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/TIM-GIA-SU.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        div(style='padding:0 5px 10px;border-bottom:1px solid #c0dace;')
          a.fl.overflow.imgtintucnew.corner_3(href='/tin-gia-su-chi-tiet/DAY-KEM.html')
            img(src='images/logo.png', style='float: left; width:100px !important; height: 95px; padding: 0pt 10px 10px 0pt; border: 0pt none;')
          a.text-news(href='/tin-gia-su-chi-tiet/DAY-KEM.html') DẠY KÈM
          span.date (05/03/2019)
          br
          p
            span(style='color:#0000ff;')
              | Quý Phụ Huynh, ai cũng quan tâm việc học của con em mình ra sao vì việc học không chỉ giúp các em có nhiều kiến thức sâu rộng mà còn giúp con đường sự nghiệp trước mắt của các em xán lạn hơn. Trong quá trình học, học sinh thường kết hợp học ở trường với các thầy cô giáo và ôn luyện ở nhà với gia sư.
          br
          .xemtiep
            a.detail.fr(href='/tin-gia-su-chi-tiet/DAY-KEM.html')
              img(src='images/xemtiep.jpg', style='width:47px !important; height:11px; border:0px; cursor:pointer')
          div(style='clear:both')
        div(style='height:10px;clear:both')
        .paging
          span.current.corner_2.fl  1 
          a.page.corner_2.fl(href='/tin-gia-su/2.html')  2 
          a.page.corner_2.fl(href='/tin-gia-su/2.html')  › 
          a.page.corner_2.fl(href='/tin-gia-su/2.html')  » 
        .clearfix
