extends ../../layouts/page
block page-content
 .row(v-page-content="bookings")
  .col-lg-4.col-md-6
    .heading_s2.mb-3.animation(data-animation='fadeInUp', data-animation-delay='0.1s')
      h3 Get In touch
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
    ul.contact_info.contact_info_style2.list_none
      li
        span.ti-mobile
        p +123 456 7890
      li
        span.ti-email
        a(href='mailto:info@yourmail.com') info@yourmail.com
      li
        span.ti-location-pin
        address 123 Street, Old Trafford, NewYork, USA
  .col-lg-8.col-md-6.mt-4.mt-lg-0
    .field_form.animation(data-animation='fadeInLeft', data-animation-delay='0.1s')
      form(method='post', name='enq')
        .row
          .form-group.col-lg-6
            input#first-name.form-control(required='required', placeholder='Enter Name *', name='name', type='text')
          .form-group.col-lg-6
            input#email.form-control(required='required', placeholder='Enter Email *', name='email', type='email')
          .form-group.col-12
            input#subject.form-control(placeholder='Enter Subject', name='subject', type='text')
          .form-group.col-lg-12
            textarea#description.form-control(required='required', placeholder='Message *', name='message', rows='5')
          .col-lg-12
            button#submitButton.btn.btn-default(type='submit', title='Submit Your Message!', name='submit', value='Submit') Submit
          .col-lg-12.text-center
            #alert-msg.alert-msg.text-center

