// START SECTION BANNER
section.banner_slider.p-0
  #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel',v-shortcode='slide')
    .carousel-inner
      .carousel-item.active.bg_light_orange.background_bg(data-img-src='images/slide_bg_pattern.png')
        .banner_slide_content
          .container
            .row
              .col-xl-8.offset-xl-1.col-lg-9.offset-lg-1
                .banner_content.banner_content_pad.animation(data-animation='fadeIn', data-animation-delay='0.4s', data-parallax="{'y': 30, 'smoothness': 10}")
                  h2.animation(data-animation='fadeInDown', data-animation-delay='0.5s') Fresh & Organic Fruits.
                  p.animation(data-animation='fadeInUp', data-animation-delay='0.6s')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit
                    br
                    |  massa enim. Nullam id varius nunc id varius nunc.
                  a.btn.btn-default.btn-radius.btn-borderd.animation(href='#', data-animation='fadeInUp', data-animation-delay='0.7s') Learn More
                  a.btn.btn-white.btn-radius.btn-borderd.animation(href='#', data-animation='fadeInUp', data-animation-delay='0.8s') Contact Us
        .banner_shape
          .shape1
            .animation(data-animation='rollIn', data-animation-delay='0.5s')
              img(data-parallax="{'y': -30, 'smoothness': 20}", src='images/shape1.png', alt='shape1')
          .shape2
            .animation(data-animation='bounceInDown', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape2.png', alt='shape2')
          .shape3
            .animation(data-animation='bounceInRight', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape3.png', alt='shape3')
      .carousel-item.bg_light_orange
        .banner_slide_content
          .container
            .row.justify-content-center
              .col-xl-10
                .banner_content.border_shape.text-center.animation(data-animation='zoomIn', data-animation-delay='0.4s', data-parallax="{'y': 30, 'smoothness': 10}")
                  h2.animation(data-animation='fadeInDown', data-animation-delay='0.5s')  Vegetable 100% Organic
                  p.animation(data-animation='fadeInUp', data-animation-delay='0.6s')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit
                    br
                    |  massa enim. Nullam id varius nunc id varius nunc.
                  a.btn.btn-default.btn-radius.btn-borderd.animation(href='#', data-animation='fadeInUp', data-animation-delay='0.7s') Learn More
                  a.btn.btn-white.btn-radius.btn-borderd.animation(href='#', data-animation='fadeInUp', data-animation-delay='0.8s') Contact Us
        .banner_shape
          .shape4
            .animation(data-animation='fadeInLeftBig', data-animation-delay='0.5s')
              img(data-parallax="{'y': -30, 'smoothness': 20}", src='images/shape4.png', alt='shape4')
          .shape5
            .animation(data-animation='slideInDown', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape5.png', alt='shape5')
          .shape6
            .animation(data-animation='bounceInDown', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape6.png', alt='shape6')
          .shape7
            .animation(data-animation='fadeInRightBig', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape7.png', alt='shape7')
          .shape8
            .animation(data-animation='slideInUp', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape8.png', alt='shape8')
          .shape9
            .animation(data-animation='bounceInUp', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape9.png', alt='shape9')
          .shape10
            .animation(data-animation='bounceInUp', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape10.png', alt='shape10')
          .shape11
            .animation(data-animation='bounceInUp', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape11.png', alt='shape11')
      .carousel-item.bg_light_blue
        .banner_slide_content
          .container
            .row
              .col-xl-8.offset-xl-1.col-lg-9.offset-lg-1.col-md-10
                .banner_content.banner_content_pad.animation(data-animation='fadeIn', data-animation-delay='0.4s', data-parallax="{'y': 30, 'smoothness': 10}")
                  h2.animation.font_style1(data-animation='fadeInDown', data-animation-delay='0.5s') The Fresh Organic Juices.
                  p.animation(data-animation='fadeInUp', data-animation-delay='0.6s')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit
                    br.d-none.d-lg-block
                    |  massa enim. Nullam id varius nunc id varius nunc.
                  a.btn.btn-default.btn-radius.btn-borderd.animation(href='#', data-animation='fadeInUp', data-animation-delay='0.7s') Learn More
                  a.btn.btn-white.btn-radius.btn-borderd.animation(href='#', data-animation='fadeInUp', data-animation-delay='0.8s') Contact Us
        .banner_shape
          .shape12
            .animation(data-animation='slideInDown', data-animation-delay='0.5s')
              img(data-parallax="{'y': -30, 'smoothness': 20}", src='images/shape12.png', alt='shape12')
          .shape13
            .animation(data-animation='slideInDown', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape13.png', alt='shape13')
          .shape14
            .animation(data-animation='zoomIn', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape14.png', alt='shape14')
          .shape15
            .animation(data-animation='bounceInUp', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape15.png', alt='shape15')
          .shape16
            .animation(data-animation='zoomInUp', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape16.png', alt='shape16')
          .shape17
            .animation(data-animation='slideInLeft', data-animation-delay='0.5s')
              img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape17.png', alt='shape17')
    a.carousel-control-prev(href='#carouselExampleFade', role='button', data-slide='prev')
      i.ion-chevron-left
    a.carousel-control-next(href='#carouselExampleFade', role='button', data-slide='next')
      i.ion-chevron-right
// END SECTION BANNER
// START SECTION PRODUCT
section.pb_20
  .container
    .row.justify-content-center
      .col-xl-6.col-lg-8.col-sm-10.text-center
        .heading_s1.text-center.animation(data-animation='fadeInUp', data-animation-delay='0.02s')
          h2 MENU
    .row.justify-content-center
      .col-12
        .product_content(v-shortcode='product')
          ul.nav.nav-tabs.justify-content-center.animation(data-animation='fadeInUp', data-animation-delay='0.04s', role='tablist')
            li.nav-item
              a#tab1.nav-link.active(data-toggle='tab', href='#tab-1', role='tab', aria-controls='tab-1', aria-selected='true')
                span.pr_icon1
                | TẤT CẢ
            li.nav-item
              a#tab2.nav-link(data-toggle='tab', href='#tab-2', role='tab', aria-controls='tab-2', aria-selected='false')
                span.pr_icon2
                | MILK TEA
            li.nav-item
              a#tab3.nav-link(data-toggle='tab', href='#tab-3', role='tab', aria-controls='tab-3', aria-selected='false')
                span.pr_icon3
                | FRESH MILK HIK
            li.nav-item
              a#tab4.nav-link(data-toggle='tab', href='#tab-4', role='tab', aria-controls='tab-4', aria-selected='false')
                span.pr_icon4
                | FRUIT TEA
            li.nav-item
              a#tab5.nav-link(data-toggle='tab', href='#tab-5', role='tab', aria-controls='tab-5', aria-selected='false')
                span.pr_icon5
                | COFFEE
          .small_divider.clearfix
          .tab-content
            #tab-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab1')
              .row.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_green Sale
                    .product_img
                      a(href='#')
                        img(src='images/product_img1.jpg', alt='product_img1')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Strawberry
                      p.price $35.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -10%
                    .product_img
                      a(href='#')
                        img(src='images/product_img2.jpg', alt='product_img2')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Grapes
                      p.price $40.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img3.jpg', alt='product_img3')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Cucumber
                      p.price $52.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_green Sale
                    .product_img
                      a(href='#')
                        img(src='images/product_img4.jpg', alt='product_img4')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Orange
                      p.price $39.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img5.jpg', alt='product_img5')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') 100% Organic Juices
                      p.price $33.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img6.jpg', alt='product_img6')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Banana
                      p.price $42.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
            #tab-2.tab-pane.fade(role='tabpanel', aria-labelledby='tab2')
              .row.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -10%
                    .product_img
                      a(href='#')
                        img(src='images/product_img2.jpg', alt='product_img2')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Grapes
                      p.price $40.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img3.jpg', alt='product_img3')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Cucumber
                      p.price $52.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img5.jpg', alt='product_img5')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') 100% Organic Juices
                      p.price $33.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img6.jpg', alt='product_img6')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Banana
                      p.price $42.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_red Hot
                    .product_img
                      a(href='#')
                        img(src='images/product_img7.jpg', alt='product_img7')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Tomato
                      p.price $54.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -25%
                    .product_img
                      a(href='#')
                        img(src='images/product_img8.jpg', alt='product_img8')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Carrots
                      p.price $32.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
            #tab-3.tab-pane.fade(role='tabpanel', aria-labelledby='tab3')
              .row.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_green Sale
                    .product_img
                      a(href='#')
                        img(src='images/product_img1.jpg', alt='product_img1')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Strawberry
                      p.price $35.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -10%
                    .product_img
                      a(href='#')
                        img(src='images/product_img2.jpg', alt='product_img2')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Grapes
                      p.price $40.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_green Sale
                    .product_img
                      a(href='#')
                        img(src='images/product_img4.jpg', alt='product_img4')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Orange
                      p.price $39.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img5.jpg', alt='product_img5')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') 100% Organic Juices
                      p.price $33.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_red Hot
                    .product_img
                      a(href='#')
                        img(src='images/product_img7.jpg', alt='product_img7')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Tomato
                      p.price $54.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -25%
                    .product_img
                      a(href='#')
                        img(src='images/product_img8.jpg', alt='product_img8')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Carrots
                      p.price $32.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
            #tab-4.tab-pane.fade(role='tabpanel', aria-labelledby='tab4')
              .row.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_green Sale
                    .product_img
                      a(href='#')
                        img(src='images/product_img4.jpg', alt='product_img4')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Orange
                      p.price $39.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img5.jpg', alt='product_img5')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') 100% Organic Juices
                      p.price $33.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img6.jpg', alt='product_img6')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Banana
                      p.price $42.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_red Hot
                    .product_img
                      a(href='#')
                        img(src='images/product_img7.jpg', alt='product_img7')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Tomato
                      p.price $54.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -25%
                    .product_img
                      a(href='#')
                        img(src='images/product_img8.jpg', alt='product_img8')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Carrots
                      p.price $32.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
            #tab-5.tab-pane.fade(role='tabpanel', aria-labelledby='tab5')
              .row.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_red Hot
                    .product_img
                      a(href='#')
                        img(src='images/product_img7.jpg', alt='product_img7')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Tomato
                      p.price $54.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img3.jpg', alt='product_img3')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Cucumber
                      p.price $52.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_green Sale
                    .product_img
                      a(href='#')
                        img(src='images/product_img4.jpg', alt='product_img4')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Orange
                      p.price $39.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -10%
                    .product_img
                      a(href='#')
                        img(src='images/product_img2.jpg', alt='product_img2')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Grapes
                      p.price $40.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img5.jpg', alt='product_img5')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') 100% Organic Juices
                      p.price $33.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_orange -25%
                    .product_img
                      a(href='#')
                        img(src='images/product_img8.jpg', alt='product_img8')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Carrots
                      p.price $32.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    .product_img
                      a(href='#')
                        img(src='images/product_img6.jpg', alt='product_img6')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Banana
                      p.price $42.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
                .col-xl-4.col-lg-4.col-sm-6
                  .product
                    span.pr_flash.bg_green Sale
                    .product_img
                      a(href='#')
                        img(src='images/product_img1.jpg', alt='product_img1')
                      .product_action_box
                        ul.list_none.pr_action_btn
                          li
                            a(href='#')
                              i.ti-heart
                    .product_info
                      h6
                        a(href='#') Fresh Organic Strawberry
                      p.price $35.00
                      a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                      a.btn.btn-default.rounded-0.btn-borderd.btn-outline-default.btn-sm.infor(href='#') Tìm Hiểu
  .overlap_shape
    .ol_shape8
      .animation(data-animation='fadeInLeft', data-animation-delay='0.5s')
        img(data-parallax="{'y': -30, 'smoothness': 20}", src='images/shape25.png', alt='shape25')
    .ol_shape9
      .animation(data-animation='fadeInLeft', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape26.png', alt='shape26')
    .ol_shape10
      .animation(data-animation='fadeInLeft', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape27.png', alt='shape27')
    .ol_shape11
      .animation(data-animation='fadeInRight', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape28.png', alt='shape28')
    .ol_shape12
      .animation(data-animation='fadeInRight', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape29.png', alt='shape29')
    .ol_shape13
      .animation(data-animation='fadeInRight', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape30.png', alt='shape30')
    .ol_shape14
      .bounceimg(data-animation='fadeInRight', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape31.png', alt='shape31')
// START SECTION PRODUCT
// START SECTION BLOG
section.bg_black.pb_20
  .container
    .row.justify-content-center.section-title
      .col-xl-6.col-lg-8
        .text-center
          .heading_s1.text-center.animation(data-animation='fadeInUp', data-animation-delay='0.02s')
            h2 Tin Tức
          .small_divider
    .row(v-shortcode='post')
      .col-lg-8.col-md-8
        .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_small_img1.jpg', alt='blog_small_img1')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 4 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-lg-4.col-md-4
        .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_small_img2.jpg', alt='blog_small_img2')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 3 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry.Lorems ipsum dolor sit ...

            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-lg-4.col-md-6
        .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_small_img3.jpg', alt='blog_small_img3')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-lg-4.col-md-6
        .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_small_img3.jpg', alt='blog_small_img3')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
      .col-lg-4.col-md-6
        .blog_post
          .blog_img
            a(href='#')
              img(src='images/blog_small_img3.jpg', alt='blog_small_img3')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-calendar
                  | February 15, 2014
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right

  .overlap_shape
   .ol_shape15
      .animation(data-animation='fadeInLeft', data-animation-delay='0.5s')
        img(data-parallax="{'y': -30, 'smoothness': 20}", src='images/shape37.png', alt='shape37')
   .ol_shape16
      .animation(data-animation='fadeInRight', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/shape36.png', alt='shape36')
// END SECTION BLOG
// START SECTION BRANCH
section.bg_gray
  .container
    .row.justify-content-center
      .col-xl-6.col-lg-8
        .text-center
          .heading_s1.text-center.animation(data-animation='fadeInUp', data-animation-delay='0.02s')
            h2 Cửa Hàng
          .small_divider
    .row.justify-content-center.testimonial_slider.testimonial_style1.carousel_slide3.owl-carousel.owl-theme(data-margin='30', data-loop='true', data-autoplay='true', data-dots='true', v-shortcode='branch')
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.04s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img1.jpg', alt='blog_small_img1')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 4 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img2.jpg', alt='blog_small_img2')
            .blog_date.style1
              h4 25
              span Mar
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 3 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.06s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img3.jpg', alt='blog_small_img3')
            .blog_date.style1
              h4 08
              span Aug
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.04s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img1.jpg', alt='blog_small_img1')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 4 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img2.jpg', alt='blog_small_img2')
            .blog_date.style1
              h4 25
              span Mar
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 3 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.06s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img3.jpg', alt='blog_small_img3')
            .blog_date.style1
              h4 08
              span Aug
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.04s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img1.jpg', alt='blog_small_img1')
            .blog_date.style1
              h4 02
              span May
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 4 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.05s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img2.jpg', alt='blog_small_img2')
            .blog_date.style1
              h4 25
              span Mar
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 3 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
        .blog_post.blog_style1.radius_all_10.animation(data-animation='fadeInUp', data-animation-delay='0.06s')
          .blog_img
            a(href='#')
              img(src='images/blog_small_img3.jpg', alt='blog_small_img3')
            .blog_date.style1
              h4 08
              span Aug
          .blog_content
            h6.blog_title
              a(href='#') Varius Phasellus blandit massa enim
            ul.list_none.blog_meta
              li
                a(href='#')
                  i.far.fa-user
                  | by 
                  span.text_default admin
              li
                a(href='#')
                  i.far.fa-comments
                  | 5 Comment
            p
              | Phasellus blandit massa enim elit variununc Lorems ipsum dolor sit consectetur industry. If you are use passage of Lorem Ipsum.
            a.blog_link(href='#')
              | Read More 
              i.ion-ios-arrow-right
  .overlap_shape
   .ol_shape15
      .animation(data-animation='fadeInLeft', data-animation-delay='0.5s')
        img(data-parallax="{'y': -30, 'smoothness': 20}", src='images/testimonial_bg_img2.png', alt='shape32')
   .ol_shape16
      .animation(data-animation='fadeInRight', data-animation-delay='0.5s')
        img(data-parallax="{'y': 30, 'smoothness': 20}", src='images/testimonial_bg_img1.jpg', alt='shape33')
// END SECTION BRANCH

