//if IE
  p.browserupgrade
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.
// Hero Section  Start
section#section-home.slider.slide-overlay-black
  // START REVOLUTION
  .rev_slider_wrapper
    #slider1.rev_slider(data-version='5.0')
      ul
        li(data-description='Slide Description', data-easein='default', data-easeout='default', data-fsmasterspeed='1500', data-fsslotamount='7', data-fstransition='fade', data-hideafterloop='0', data-hideslideonmobile='off', data-index='rs-1689', data-masterspeed='default', data-param1='', data-param10='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-rotate='0', data-saveperformance='off', data-slotamount='default', data-thumb='/sliderbg1.jpg', data-title='Slide Title', data-transition='slotfade-horizontal')
          img.rev-slidebg(alt='', data-bgfit='cover', data-bgparallax='10', data-bgposition='center center', data-bgrepeat='no-repeat', data-no-retina='', src='images/sliderbg1.jpg')
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['-80']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            h2 Welcome to Paladar Restaurant
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['0']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.title Eat Healthy and Natural Food
          .tp-caption(data-responsive_offset='on', data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['100']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.description
              | Paladar is a restaurant, bar and coffee roastery located on London. We have awesome
              br
              |  recipes and the most talented chefs in town.
          .tp-caption(data-responsive_offset='on', data-type='text', data-height='none', data-width="['1170','1170','1170','420']", data-whitespace='normal', data-voffset="['200']", data-x="['center']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            .btns-box
              a.animatedScroll.theme-btn.btn-style-one.bt-orange(href='#section-menu') OUR MENU
              a.animatedScroll.theme-btn.btn-style-one.bt-default(href='#section-specialities') ABOUT US
        li(data-description='Slide Description', data-easein='default', data-easeout='default', data-fsmasterspeed='1500', data-fsslotamount='7', data-fstransition='fade', data-hideafterloop='0', data-hideslideonmobile='off', data-index='rs-1688', data-masterspeed='default', data-param1='', data-param10='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-rotate='0', data-saveperformance='off', data-slotamount='default', data-thumb='/sliderbg2.jpg', data-title='Slide Title', data-transition='slotfade-horizontal')
          img.rev-slidebg(alt='', data-bgfit='cover', data-bgparallax='10', data-bgposition='center center', data-bgrepeat='no-repeat', data-no-retina='', src='images/sliderbg2.jpg')
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['-80']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            h2 Welcome to Paladar Restaurant
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['0']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.title The Best Delicious Food
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['100']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.description
              | Paladar is a restaurant, bar and coffee roastery located on London. We have awesome
              br
              |  recipes and the most talented chefs in town.
          .tp-caption(data-responsive_offset='on', data-type='text', data-height='none', data-width="['1170','1170','1170','420']", data-whitespace='normal', data-voffset="['200']", data-x="['center']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            .btns-box
              a.animatedScroll.theme-btn.btn-style-one.bt-orange(href='#section-menu') OUR MENU
              a.animatedScroll.theme-btn.btn-style-one.bt-default(href='#section-specialities') ABOUT US
        li(data-description='Slide Description', data-easein='default', data-easeout='default', data-fsmasterspeed='1500', data-fsslotamount='7', data-fstransition='fade', data-hideafterloop='0', data-hideslideonmobile='off', data-index='rs-1687', data-masterspeed='default', data-param1='', data-param10='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-rotate='0', data-saveperformance='off', data-slotamount='default', data-thumb='/sliderbg3.jpg', data-title='Slide Title', data-transition='slotfade-horizontal')
          img.rev-slidebg(alt='', data-bgfit='cover', data-bgparallax='10', data-bgposition='center center', data-bgrepeat='no-repeat', data-no-retina='', src='images/sliderbg3.jpg')
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['-80']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            h2 Welcome to Paladar Restaurant
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['0']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.title Eat Healthy and Natural Food
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['100']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.description
              | Paladar is a restaurant, bar and coffee roastery located on London. We have awesome
              br
              |  recipes and the most talented chefs in town.
          .tp-caption(data-responsive_offset='on', data-type='text', data-height='none', data-width="['1170','1170','1170','420']", data-whitespace='normal', data-voffset="['200']", data-x="['center']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            .btns-box
              a.animatedScroll.theme-btn.btn-style-one.bt-orange(href='#section-menu') OUR MENU
              a.animatedScroll.theme-btn.btn-style-one.bt-default(href='#section-specialities') ABOUT US
        li(data-description='Slide Description', data-easein='default', data-easeout='default', data-fsmasterspeed='1500', data-fsslotamount='7', data-fstransition='fade', data-hideafterloop='0', data-hideslideonmobile='off', data-index='rs-1686', data-masterspeed='default', data-param1='', data-param10='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-rotate='0', data-saveperformance='off', data-slotamount='default', data-thumb='/sliderbg4.jpg', data-title='Slide Title', data-transition='slotfade-horizontal')
          img.rev-slidebg(alt='', data-bgfit='cover', data-bgparallax='10', data-bgposition='center center', data-bgrepeat='no-repeat', data-no-retina='', src='images/sliderbg4.jpg')
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['-80']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            h2 Welcome to Paladar Restaurant
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['0']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.title The Best Delicious Food
          .tp-caption(data-x="['center']", data-hoffset="['15','135','15','15']", data-voffset="['100']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:50px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            p.description
              | Paladar is a restaurant, bar and coffee roastery located on London. We have awesome
              br
              |  recipes and the most talented chefs in town.
          .tp-caption(data-responsive_offset='on', data-type='text', data-height='none', data-width="['1170','1170','1170','420']", data-whitespace='normal', data-voffset="['200']", data-x="['center']", data-y="['middle','middle','middle','middle']", data-textalign="['center']", data-frames='[{"from":"opacity: 0;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity: 1;auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]')
            .btns-box
              a.animatedScroll.theme-btn.btn-style-one.bt-orange(href='#section-menu') OUR MENU
              a.animatedScroll.theme-btn.btn-style-one.bt-default(href='#section-specialities') ABOUT US
    // END REVOLUTION SLIDER
  // END OF SLIDER WRAPPER
  a.scroll-down.animatedScroll(href='#section-menu')
    span
// Hero Section End
.voffset-131
// Menu Section Start
section#section-menu(data-aos='fade-down', data-aos-duration='1000', class='menu section')
  .container
    .row
      .col-lg-12
        h4.small.left 
         a(href="#") #Menu
    .row
      .col-lg-12
        .section.specialities.menus
          .voffset-20
            .row.contentslide.slide-specialitiess
              .col-md-4.col-lg-4.menu-item
                .featured-image
                  img(alt='', src='images/01.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Đu đủ sữa Foam Cheese TAIWAN
                    p.i-uppercase.i-text-color 20.000 Đ
                  .featured-button
                    a.bt-orange.featured(href='javascript:;', tabindex='0')
                      span.left0 Đặt Món
              .col-md-4.col-lg-4.menu-item
                .featured-image
                  img(alt='', src='images/02.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Đu đủ sữa Foam Cheese TAIWAN
                    p.i-uppercase.i-text-color 20.000 Đ
                  .featured-button
                    a.bt-orange.featured(href='javascript:;', tabindex='0')
                      span.left0 Đặt Món
              .col-md-4.col-lg-4.menu-item
                .featured-image
                  img(alt='', src='images/03.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Đu đủ sữa Foam Cheese TAIWAN
                    p.i-uppercase.i-text-color 20.000 Đ
                  .featured-button
                    a.bt-orange.featured(href='javascript:;', tabindex='0')
                      span.left0 Đặt Món
              .col-md-4.col-lg-4.menu-item
                .featured-image
                  img(alt='', src='images/04.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Đu đủ sữa Foam Cheese TAIWAN
                    p.i-uppercase.i-text-color 20.000 Đ
                  .featured-button
                    a.bt-orange.featured(href='javascript:;', tabindex='0')
                      span.left0 Đặt Món
              .col-md-4.col-lg-4.menu-item
                .featured-image
                  img(alt='', src='images/05.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Đu đủ sữa Foam Cheese TAIWAN
                    p.i-uppercase.i-text-color 20.000 Đ
                  .featured-button
                    a.bt-orange.featured(href='javascript:;', tabindex='0')
                      span.left0 Đặt Món
              .col-md-4.col-lg-4.menu-item
                .featured-image
                  img(alt='', src='images/06.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Đu đủ sữa Foam Cheese TAIWAN
                    p.i-uppercase.i-text-color 20.000 Đ
                  .featured-button
                    a.bt-orange.featured(href='javascript:;', tabindex='0')
                      span.left0 Đặt Món
// Menu Section End
// Blog Section Start
section#section-specialities(data-aos='fade-down', data-aos-duration='1000', class='blog')
  .container
    .row
      .col-lg-12
        h4.small.left 
          a(href='#') #Blog
    .row
      .col-lg-12
        .section.specialities
          .row
            .contentslide.slide-specialities
              .sliderslide.col-lg-3.equalHW.blog-item
                .featured-image
                  img(alt='', src='images/08.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Facebook cho biết đã phải viết lại ứng dụng Messenger từ đầu để nó trở nên "thon gọn" hơn.
                  .featured-button
                    a.bt-orange.bt-orange-line.featured(href='javascript:;', tabindex='0')
                      span.left0 Xem chi tiết
              .sliderslide.col-lg-3.equalHW.blog-item
                .featured-image
                  img(alt='', src='images/08.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Facebook cho biết đã phải viết lại ứng dụng Messenger từ đầu để nó trở nên "thon gọn" hơn.
                  .featured-button
                    a.bt-orange.bt-orange-line.featured(href='javascript:;', tabindex='0')
                      span.left0 Xem chi tiết
              .sliderslide.col-lg-3.equalHW.blog-item
                .featured-image
                  img(alt='', src='images/08.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Facebook cho biết đã phải viết lại ứng dụng Messenger từ đầu để nó trở nên "thon gọn" hơn.
                  .featured-button
                    a.bt-orange.bt-orange-line.featured(href='javascript:;', tabindex='0')
                      span.left0 Xem chi tiết
              .sliderslide.col-lg-3.equalHW.blog-item
                .featured-image
                  img(alt='', src='images/08.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Facebook cho biết đã phải viết lại ứng dụng Messenger từ đầu để nó trở nên "thon gọn" hơn.
                  .featured-button
                    a.bt-orange.bt-orange-line.featured(href='javascript:;', tabindex='0')
                      span.left0 Xem chi tiết
              .sliderslide.col-lg-3.equalHW.blog-item
                .featured-image
                  img(alt='', src='images/08.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Facebook cho biết đã phải viết lại ứng dụng Messenger từ đầu để nó trở nên "thon gọn" hơn.
                  .featured-button
                    a.bt-orange.bt-orange-line.featured(href='javascript:;', tabindex='0')
                      span.left0 Xem chi tiết
              .sliderslide.col-lg-3.equalHW.blog-item
                .featured-image
                  img(alt='', src='images/08.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Facebook cho biết đã phải viết lại ứng dụng Messenger từ đầu để nó trở nên "thon gọn" hơn.
                  .featured-button
                    a.bt-orange.bt-orange-line.featured(href='javascript:;', tabindex='0')
                      span.left0 Xem chi tiết
              .sliderslide.col-lg-3.equalHW.blog-item
                .featured-image
                  img(alt='', src='images/08.jpg')
                .featured-info
                  .featured-text
                    p.i-uppercase Facebook cho biết đã phải viết lại ứng dụng Messenger từ đầu để nó trở nên "thon gọn" hơn.
                  .featured-button
                    a.bt-orange.bt-orange-line.featured(href='javascript:;', tabindex='0')
                      span.left0 Xem chi tiết
              
          .voffset-80
.voffset-131
// Testimonials Section Start
section(data-aos='fade-in', data-aos-duration='1000')
  .container
    .row
      .col-lg-12
        h4.small.left 
          a(href="#") #Cửa hàng
    .row
      .col-lg-6.equalHW.padding0
        .testimonials-image
      .col-lg-6.equalHW.padding0
        #section-testimonials.section.testimonials
          .testimonials-content.alignVCenter
            .container-col
              // <h4 class="small medium right light">Some</h4>
              
              .voffset-30
              .all-testimonials
                .single-testimonial
                  h4.white.title Cửa Hàng số 1
                  p
                    | “Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o”
                  p.customer Carolyn Meyer
                .single-testimonial
                  h4.white.title Cửa hàng số 2
                  p
                    | “Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o”
                  p.customer Carolyn Meyer
// Testimonials Section End
// Booking Section Start