extends ../../layouts/page
block page-content
 section.menus
  .container
    .row
      .col-lg-9
        .row.shop_container.grid_view
          #NOIBAT.clearfix.heading_s2
           h2 NỔI BẬT
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_green Sale
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img1')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Strawberry
                p.price $35.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_orange -10%
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img2')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Grapes
                p.price $40.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img3')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Cucumber
                p.price $52.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_green Sale
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img4')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Orange
                p.price $39.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img5')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') 100% Organic Juices
                p.price $33.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img6')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Banana
                p.price $42.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          #COFFEE2.clearfix.heading_s2
           h2 COFFEE 
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_red Hot
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img7')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Tomato
                p.price $54.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_orange -25%
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img8')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Carrots
                p.price $32.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img9')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Pineapple
                p.price $22.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_red Hot
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img7')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Tomato
                p.price $54.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          #MILK_TEA.clearfix.heading_s2
           h2 MILK TEA
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_orange -25%
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img8')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Carrots
                p.price $32.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img9')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Pineapple
                p.price $22.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_red Hot
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img7')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Tomato
                p.price $54.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_orange -25%
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img8')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Carrots
                p.price $32.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          #FRESH_MILK_HIK.clearfix.heading_s2
           h2 FRESH MILK HIK
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img9')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Pineapple
                p.price $22.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_red Hot
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img7')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Tomato
                p.price $54.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_orange -25%
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img8')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Carrots
                p.price $32.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          #FRUIT_TEA.clearfix.heading_s2
           h2 FRUIT TEA
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img9')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Pineapple
                p.price $22.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_red Hot
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img7')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Tomato
                p.price $54.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_orange -25%
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img8')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Carrots
                p.price $32.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          #COFFEE.clearfix.heading_s2
           h2 COFFEE
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img9')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Pineapple
                p.price $22.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_red Hot
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img7')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Tomato
                p.price $54.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              span.pr_flash.bg_orange -25%
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img8')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Organic Carrots
                p.price $32.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
          .col-lg-4.col-sm-6
            .product
              .product_img
                a(href='#')
                  img(src='images/product.jpg', alt='product_img9')
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
              .product_info
                h6
                  a(href='#') Fresh Pineapple
                p.price $22.00
                a.btn.btn-default.rounded-0.btn-borderd.btn-sm(href='#') Đặt Ngay
                .pr_desc
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .product_action_box
                  ul.list_none.pr_action_btn
                    li
                      a(href='#')
                        i.ti-heart
        .row
          .col-12.mt-3.mt-lg-4
            ul.pagination.justify-content-center
              li.page-item.disabled
                a.page-link(href='#', tabindex='-1')
                  i.ion-ios-arrow-thin-left
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#')
                  i.ion-ios-arrow-thin-right
      .col-lg-3.order-lg-first.mt-5.mt-lg-0
        .sidebar.stikySidebar
          .widget.menu
            h5.widget_title MENU
            ul.list_none.widget_categories.border_bottom_dash
              li
                a(href='#NOIBAT')
                  span.categories_name MÓN NỔI BẬT
                  span.categories_num (9)
              li
                a(href='#MILK_TEA')
                  span.categories_name MILK TEA
                  span.categories_num (6)
              li
                a(href='#FRESH_MILK_HIK')
                  span.categories_name FRESH MILK HIK
                  span.categories_num (4)
              li
                a(href='#FRUIT_TEA')
                  span.categories_name FRUIT TEA
                  span.categories_num (7)
              li
                a(href='#COFFEE')
                  span.categories_name COFFEE
                  span.categories_num (12)
