extends ../../layouts/full
block page-content
  .row
   .col.s12
    .panel
      .panel-heading
        h1.panel-title
          a.breadcrumb(href='https://www.giasunhantri.net') Trang chủ
          a.breadcrumb(href='https://www.giasunhantri.net/gia-su-nhan-tri-noi-quy-nhan-lop.html', title='Nội quy nhận lớp tại trung tâm gia sư Nhân Trí') Nội quy nhận lớp
      .panel-body(style='padding:5px 10px')
        h3(style='color: red; text-align: center;')
          span(style='font-size:22px;')
            u
              span(style='font-family:tahoma,geneva,sans-serif;') NỘI QUY NHẬN LỚP DẠY
        h1
          span(style='font-size:18px;')
            span(style='color:#000080;')
              strong(style='color: rgb(0, 0, 255); font-family: Arial, Helvetica, sans-serif; text-align: justify;')
                span(new='', times='') ÁP DỤNG CHO 2 HÌNH THỨC NHẬN LỚP DẠY
        h1(lucida='', style='font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; outline: medium none currentcolor;')
          span(style='font-size:18px;')
            strong
              span(style='font-family:arial,helvetica,sans-serif;')
                span(style='margin: 0px; padding: 0px; outline: none;')
                  span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
                    span(style='margin: 0px; padding: 0px; outline: none;') I/
                  span(style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')  
                  span(style='color:#000080;')
                    span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Chuyển khoản qua ngân hàng, 
                  span(style='color:#ff0000;')
                    span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Phí 35%
        h1
          span(style='font-size:18px;')
            strong
              span(style='font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; outline: medium none currentcolor; color: rgb(255, 0, 0);')
                span(style='margin: 0px; padding: 0px; outline: none;') II/
              span(style='font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; outline: medium none currentcolor; color: rgb(0, 0, 255);')
                span(style='margin: 0px; padding: 0px; outline: none;')  
              span(style='color:#000080;')
                span(style='font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Trực tiếp đến trung tâm nhận lớp dạy, 
              span(style='color:#ff0000;')
                span(style='font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Phí 40%
        h1(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            strong
              span(style='font-family: times new roman, times, serif;')
                span(style='font-size: 20px;')   Giáo viên - sinh viên đến Công ty nhận lớp cần mang theo các giấy tờ sau:
        h1(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            strong
              span(style='font-family: times new roman, times, serif;')
                span(style='font-size: 20px;') - Thẻ giáo viên hoặc thẻ sinh viên 
        h1(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            strong
              span(style='font-family: times new roman, times, serif;')
                span(style='font-size: 20px;') - Chứng minh nhân dân
        h1(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            strong
              span(style='font-family: times new roman, times, serif;')
                span(style='font-size: 20px;') - Các bằng cấp liên quan.
        h3(style='color: red; text-align: center;')
          u
            span(style='font-size:20px;')
              span(style='font-family:tahoma,geneva,sans-serif;') QUY TRÌNH NHẬN LỚP NHƯ SAU:
        h1(style='color: blue; text-align: justify;')
          span(style='font-size:18px;')
            span(style='font-family:times new roman,times,serif;')
              span(style='font-size: 20px;')
                strong
                  em
                    span(style='color: rgb(255, 0, 0);') 1/ 
                  span(style='color:#000080;') Truy cập vào Web để chọn lớp dạy phù hợp 
            strong
              em
                span(style='font-family: tahoma,geneva,sans-serif;')
                  span(style='font-family:arial,helvetica,sans-serif;')
                    span(style='color:#ff0000;')
                      span(style='display: none;')  
                  span(style='color:#ff0000;')  
            span(style='color:#ff0000;')
              big
                a(href='http://www.giasunhantri.net/') www.giasunhantri.net
            span(style='display: none;')  
        h1(style='color: blue; text-align: justify;')
          strong
            span(style='color:#000080;')
              span(style='font-family: times new roman, times, serif;')
                span(style='font-size: 20px;')
                  | Nếu là Sinh Viên, các em chọn những lớp có ghi chú cần Sinh Viên bên dưới, những lớp để trống hoặc chỉ ghi chú là nam/nữ dành cho Giáo Viên.
        p(style='color: blue; text-align: justify;')
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size: 20px;')
              strong
                em
                  span(style='color: rgb(255, 0, 0);') 2/
              span(style='color:#000080;')
                | Sau khi xác định được lớp dạy phù hợp, Quý thầy cô và các em Sinh viên phải đóng phí nhận lớp cho công ty qua hai hình thức
          | :
        p(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            span(style='font-size: 20px;')
              span(style='font-family: times new roman, times, serif;') - Chuyển khoản qua ngân hàng, 
          span(style='color:#ff0000;')
            span(style='font-size: 20px;')
              span(style='font-family: times new roman, times, serif;') Phí 35%
        p(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            span(style='font-size: 20px;')
              span(style='font-family: times new roman, times, serif;')
                | - Trực tiếp đến trung tâm nhận lớp, 
                span#cke_bm_65S(style='display: none;')  
          span(style='color:#ff0000;')
            span(style='font-size: 20px;')
              span(style='font-family: times new roman, times, serif;') Phí 40%
          span(style='color:#000080;')
            span(style='font-size: 20px;')
              span(style='font-family: times new roman, times, serif;')
                span#cke_bm_65E(style='display: none;')  
        p(style='color: blue; text-align: justify;')
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size: 20px;')
              strong
                em
                  span(style='color: rgb(255, 0, 0);') 3/
                  span#cke_bm_85S(style='display: none;')  
                  span(style='display: none;')  
              span(style='color:#000080;')
                | Công ty có trách nhiệm liên lạc, hẹn ngày giờ đến gặp Phụ huynh, công ty xuất giấy giới thiệu và Giáo Viên - Sinh Viên có trách nhiệm trình giấy giới thiệu khi đến gặp Phụ Huynh.
              span(style='display: none;')  
              span#cke_bm_85E(style='display: none;')  
        p(style='color: blue; text-align: justify;')
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size: 20px;')
              strong
                em
                  span(style='color: rgb(255, 0, 0);') 4/
              span(style='color:#000080;')
                | Khi đến nhận lớp, nếu có bất kỳ trở ngại nào (không gặp được Phụ Huynh, thay đổi thời gian học, số lượng học sinh, thay đổi thông tin so với hợp đồng ban đầu...) dẫn đến việc chưa nhận được lớp, Giáo Viên – Sinh Viên phải báo gấp về công ty theo các số điện thoại sau:
              span(style='color: rgb(255, 0, 0);')
                strong 0913 905 231 – 0908 880 299
              span(style='color:#000080;')  ngay khi rời nhà Phụ Huynh để Công ty kịp thời xác minh và giải quyết.
        p(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            span(style='font-family: times new roman, times, serif;')
              span(style='font-size: 20px;')
                | Công ty sẽ chịu trách nhiệm bảo lãnh trong vòng 30 ngày, nếu có bất cứ sự cố khách quan nào từ phía Phụ huynh học sinh (đã được xác minh) công ty sẽ hoàn lại phí một phần hoặc 100% cho Giáo Viên – Sinh Viên. Thời gian giải quyết sự cố từ 2 đến 3 ngày làm việc. Sau 30 ngày thì công ty sẽ không còn trách nhiệm giải quyết.  Khi nhận lại phí, Quý thầy cô và các em Sinh Viên cần báo lại đúng mã số lớp mà mình đã nhận để đối chiếu hồ sơ khi nhận lớp mới được nhận lại phí.
        p(style='color: blue; text-align: justify;')
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size: 20px;')
              strong
                em
                  span(style='color: rgb(255, 0, 0);') 5/
                  span(style='display: none;')  
              span(style='color:#000080;') Trường hợp Giáo Viên – Sinh Viên chưa nhận được lớp và hướng giải quyết:
              span(style='display: none;')  
        p(style='color: blue; text-align: justify;')
          span(style='color:#0000ff;')
            span(style='font-family: times new roman, times, serif;')
              span(style='font-size: 20px;')
                em
                  strong 5.1
          span(style='color:#000080;')
            span(style='font-family: times new roman, times, serif;')
              span(style='font-size: 20px;')
                em  G
                | iáo Viên –Sinh Viên không nhận được lớp do phía gia đình Phụ Huynh gây nên như: thay đổi mức lương, thay đổi thời gian học, thay đổi số lượng học sinh, thay đổi địa điểm học,...dẫn đến việc Giáo Viên – Sinh Viên không nhận được lớp, Công ty xin hoàn lại 100% phí nhận lớp hoặc đổi lớp dạy khác nếu Giáo Viên – Sinh Viên có nhu cầu.
        p(style='color: blue; text-align: justify;')
          span(style='color:#0000ff;')
            span(style='font-family: times new roman, times, serif;')
              span(style='font-size: 20px;')
                strong
                  em 5.2 
          span(style='color:#000080;')
            span(style='font-family: times new roman, times, serif;')
              span(style='font-size: 20px;')
                | Giáo Viên – Sinh Viên nhận lớp phải nghiên cứu kỹ đường đi, năng lực giảng dạy, thời gian dạy, Công ty sẽ không hoàn phí nếu Giáo Viên – Sinh Viên tự ý bỏ lớp, tự ý tăng lương, giảm giờ dạy, tự ý thay đổi người dạy, cố ý làm mất lớp dạy.
        p(style='color: blue; text-align: justify;')
          span(style='color:#0000ff;')
            span(style='font-family: times new roman, times, serif;')
              span(style='font-size: 20px;')
                strong
                  em 5.3 
          span(style='color:#000080;')
            span(style='font-family: times new roman, times, serif;')
              span(style='font-size: 20px;')
                | Những trường hợp khác: Giáo Viên – Sinh Viên không đáp ứng yêu cầu giảng dạy của Phụ Huynh, dạy không đạt hiệu quả, ... tùy từng trường hợp cụ thể mà Công ty xem xét cho đổi lớp mới hoặc nhận lại một phần lệ phí.
        p(style='color: blue; text-align: justify;')
          span(style='color:#000080;')
            strong
              span(style='font-family: times new roman, times, serif;')
                span(style='font-size: 20px;')
                  | Công ty chúng tôi hoạt động với tiêu chí đảm bảo sự hài lòng từ phía Phụ Huynh, sự an tâm hợp tác của Giáo Viên – Sinh Viên. Khi có bất kỳ trở ngại nào xảy ra chúng tôi làm việc trên tinh thần lắng nghe, hợp tác và giải quyết sự việc theo hướng tích cực nhất.
        p(align='center', style='color: blue;')
          span(style='color:#ff0000;')
            strong
              span(style='font-family:times new roman,times,serif;')
                span(style='font-size: 20px;') Xin chân thành cảm ơn.
        p(align='center', style='color: blue;')
        hr
        h5(lucida='', style='margin: 0px; padding: 0px; outline: none; font-family: ')
        h5(lucida='', style='margin: 0px; padding: 0px; outline: none; font-family: ')
          span(style='font-size:20px;')
            span(style='margin: 0px; padding: 0px; outline: none;')
              span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
                span(style='margin: 0px; padding: 0px; outline: none;')
                  u(style='margin: 0px; padding: 0px; outline: none;') LƯU Ý:
              span(style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')  
              span(style='color:#000080;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Có 2 Hình thức đóng phí nhận lớp dạy
        h5(lucida='', style='margin: 0px; padding: 0px; outline: none; font-family: ')
          span(style='font-size:20px;')
            span(style='margin: 0px; padding: 0px; outline: none;')
              span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
                span(style='margin: 0px; padding: 0px; outline: none;') I/
              span(style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')  
              span(style='color:#000080;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Chuyển khoản qua ngân hàng, 
              span(style='color:#ff0000;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;') Phí 35%
        h5(lucida='', style='margin: 0px; padding: 0px; outline: none; font-family: ', text-align:='')
        h3(style='margin: 0px; padding: 0px; outline: none; font-family: Arial, Helvetica, sans-serif; color: red; text-align: center;')
          span(style='margin: 0px; padding: 0px; outline: none; font-size: 20px;') HÌNH THỨC GIAO NHẬN LỚP BẰNG CHUYỂN KHOẢN
        p
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size:20px;')
              strong
                span(style='text-align: justify; margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
                  span(style='margin: 0px; padding: 0px; outline: none;') 1/
              span(style='text-align: justify; margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')
                span(style='margin: 0px; padding: 0px; outline: none;')
                  strong  
              span(style='color:#000080;')
                span(style='text-align: justify; margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                    | Công ty áp dụng cho những Giáo Viên - Sinh Viên đã từng nhận lớp dạy tại các chi nhánh của công ty, chúng tôi sẽ xác nhận số tiền đã chuyển khoản qua tin nhắn điện thoại hoặc Email.
        p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: justify;')
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size:20px;')
              strong
                span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
                  span(style='margin: 0px; padding: 0px; outline: none;') 2/ 
              span(style='color:#000080;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                    | Trong thời gian từ 1 đến 12 giờ khi xác nhận được số tiền của bạn, chúng tôi sẽ làm việc với Phụ Huynh và chuyển thông tin mã bảo mật lớp dạy qua Email hoặc điện thoại cho bạn, bạn sẻ đăng nhập mã số lớp dạy và mã bảo mật vào phần "Nhận Lớp ONLINE" bạn có thể nhận được toàn bộ nội dung từ phụ huynh mà bạn cần nhận lớp "Giấy Giới Thiệu" bạn có thể in giấy giới thiệu đến xuất trình cho phụ huynh khi cần.
        p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: justify;')
        p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: justify;')
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size:20px;')
              strong
                span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
                  span(style='margin: 0px; padding: 0px; outline: none;') 3/
              span(style='color:#000080;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                    | Nếu không nhận được lớp dạy bạn không phải mất bất kì một khoản chi phí nào và được hoàn lại 100% phần phí đã chuyển khoản.
        p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif;')
        p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif;')
          span(style='font-family:times new roman,times,serif;')
            span(style='font-size:20px;')
              strong
                span(style='margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);')
                  span(style='margin: 0px; padding: 0px; outline: none;') 4/
              span(style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 0, 255);')
                span(style='margin: 0px; padding: 0px; outline: none;')
                  strong  
              span(style='color:#000080;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                    | Nếu bạn cần tìm lớp dạy kèm mới mà không cần hoàn phí lại, Bạn hãy truy cập vào web
              span(style='margin: 0px; padding: 0px; outline: none;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  u(style='margin: 0px; padding: 0px; outline: none;')
                    big(style='margin: 0px; padding: 0px; outline: none;')
                      a(href='http://www.giasunhantri.net/', style='margin: 0px; padding: 0px; outline: none; color: rgb(0, 63, 179); text-decoration-line: none;')
                        span(style='color:#ff0000;') www.giasunhantri.net
              span(style='color:#000080;')
                span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')
                  span(style='margin: 0px; padding: 0px; outline: medium none currentcolor;')  tìm lớp phù hợp để chuyển phí sang lớp dạy mới.
        p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif;')
        p(style='margin: 0px; padding: 0px; outline: none; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; text-align: justify;')
        include ../../partials/payment
        .clearfix