extends ../../layouts/page
block page-title
 title Page Pricing 
block page-content
 main.main-content
  section.section.bg-gray
    .container
      .row.gap-y
        .col-md-6.col-lg-4
          .card.d-block.border.hover-shadow-6.mb-6
            a(href='#')
              img.card-img-top(src='../../../images/thumb/1.jpg', alt='Card image cap')
            .p-6.text-center
              p
                a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') News
              h5.mb-0
                a.text-dark(href='#') We relocated our office to a new designed garage
        .col-md-6.col-lg-4
          .card.d-block.border.hover-shadow-6.mb-6
            a(href='#')
              img.card-img-top(src='../../../images/thumb/2.jpg', alt='Card image cap')
            .p-6.text-center
              p
                a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') Marketing
              h5.mb-0
                a.text-dark(href='#') Top 5 brilliant content marketing strategies
        .col-md-6.col-lg-4
          .card.d-block.border.hover-shadow-6.mb-6
            a(href='#')
              img.card-img-top(src='../../../images/thumb/3.jpg', alt='Card image cap')
            .p-6.text-center
              p
                a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') Design
              h5.mb-0
                a.text-dark(href='#') Best practices for minimalist design with example
        .col-md-6.col-lg-4
          .card.d-block.border.hover-shadow-6.mb-6
            a(href='#')
              img.card-img-top(src='../../../images/thumb/4.jpg', alt='Card image cap')
            .p-6.text-center
              p
                a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') Hiring
              h5.mb-0
                a.text-dark(href='#') Congratulate and thank to Maryam for joining our team
        .col-md-6.col-lg-4
          .card.d-block.border.hover-shadow-6.mb-6
            a(href='#')
              img.card-img-top(src='../../../images/thumb/5.jpg', alt='Card image cap')
            .p-6.text-center
              p
                a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') Product
              h5.mb-0
                a.text-dark(href='#') New published books to read by a product designer
        .col-md-6.col-lg-4
          .card.d-block.border.hover-shadow-6.mb-6
            a(href='#')
              img.card-img-top(src='../../../images/thumb/6.jpg', alt='Card image cap')
            .p-6.text-center
              p
                a.small-5.text-lighter.text-uppercase.ls-2.fw-400(href='#') Management
              h5.mb-0
                a.text-dark(href='#') This is why it&apos;s time to ditch dress codes at work
      nav.flexbox.mt-6
        a.btn.btn-white.disabled
          i.ti-arrow-left.fs-9.mr-2
          |  Newer
        a.btn.btn-white(href='#')
          | Older 
          i.ti-arrow-right.fs-9.ml-2
