.row.justify-content-center
    .col-12
      .row.justify-content-between
        .col-auto
          a.navbar-brand(href='index-multipages.html')
            img(src='images/logo-slider-white.png', alt='')
          a.navbar-brand.black(href='index-multipages.html')
            img(src='images/logo-slider-black.png', alt='')
        .d-flex.justify-content-center.onlydesktop
          ul.navbar
            li
              a.nav-link.active(href='index-multipages.html') Home
            li
              a.nav-link(href='about.html') About
            li
              a.nav-link(href='menu.html') Menu
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='gallery.html', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Gallery
              .dropdown-menu
                a.dropdown-item(href='gallery-two-columns.html') 2 columns
                a.dropdown-item(href='gallery-three-columns.html') 3 columns
                a.dropdown-item(href='gallery-four-columns.html') 4 columns
                a.dropdown-item(href='gallery-five-columns.html') 5 columns
                a.dropdown-item(href='gallery-two-columns-fullwidth.html') 2 columns fullwidth
                a.dropdown-item(href='gallery-three-columns-fullwidth.html') 3 columns fullwidth
                a.dropdown-item(href='gallery-four-columns-fullwidth.html') 4 columns fullwidth
                a.dropdown-item(href='gallery-five-columns-fullwidth.html') 5 columns fullwidth
            li
              a.nav-link(href='team.html') Team
            li
              a.nav-link(href='booking.html') Contact
        .d-flex.justify-content-end
          ul.navbar.float-right.onlydesktop
            li
              a.bt-orange.bt-menu-reserve(href='booking.html') Reservation
            li
              a.fb-ic.mr-3(href='http://www.facebook.com', target='_blank', role='button')
                i.fab.fa-lg.fa-facebook-f
            li
              a.tw-ic.mr-3(href='http://www.tripadvisor.com', target='_blank', role='button')
                i.fab.fa-lg.fa-tripadvisor
            li
              a.tw-ic.mr-3(href='http://www.twitter.com', role='button')
                i.fab.fa-lg.fa-twitter
          .col
            ul.navbar.float-right
              li.hambuger.onlyresponsive
                button#trigger-overlay.trigger-overlay.dropdown-icon
                  span
.overlay.overlay-hugeinc
    .overlay-content
      span.trigger-overlay
      nav#nav
        ul
          li.current
            a(href='index-multipages.html') Home
          li
            a(href='about.html') About
          li
            a(href='menu.html') Menu
          li
            a(href='gallery.html') Gallery
          li
            a(href='team.html') Team
          li
            a(href='booking.html') Contact

