.row.gap-y
  .col-6.col-lg-4
    .bg-gradient-primary.text-white.lead.p-5 Primary
  .col-6.col-lg-4
    .bg-gradient-secondary.lead.p-5 Secondary
  .col-6.col-lg-4
    .bg-gradient-success.text-white.lead.p-5 Success
  .col-6.col-lg-4
    .bg-gradient-danger.text-white.lead.p-5 Danger
  .col-6.col-lg-4
    .bg-gradient-warning.text-white.lead.p-5 Warning
  .col-6.col-lg-4
    .bg-gradient-info.text-white.lead.p-5 Info
  .col-6.col-lg-4
    .bg-gradient-dark.text-white.lead.p-5 Dark
