extends ../../layouts/page
block page-title
 title Page Pricing 
block page-content
 main.main-content
  section.section.bg-gray
    .container
      .row.gap-y
        .col-md-6.col-xl-4
          .product-3.mb-3
            a.product-media(href='item.html')
              span.badge.badge-pill.badge-primary.badge-pos-left New
              img(src='../../../images/shop/10.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Apple EarPods
              .product-price $160
        .col-md-6.col-xl-4
          .product-3.mb-3
            .product-media
              span.badge.badge-pill.badge-primary.badge-pos-left New
              .slider-dots-inside(data-provide='slider', data-dots='true')
                a(href='item.html')
                  img(src='../../../images/shop/11.jpg', alt='product')
                a(href='item.html')
                  img(src='../../../images/shop/13.jpg', alt='product')
                a(href='item.html')
                  img(src='../../../images/shop/14.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Beats On-Ear Headphones
              .product-price $299
        .col-md-6.col-xl-4
          .product-3.mb-3
            a.product-media(href='item.html')
              span.badge.badge-pill.badge-success.badge-pos-right -25%
              img(src='../../../images/shop/12.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Sony PlayStation 4
              .product-price
                s $299
                |  $224
        .col-md-6.col-xl-4
          .product-3.mb-3
            a.product-media(href='item.html')
              span.badge.badge-pill.badge-success.badge-pos-right -20%
              img(src='../../../images/shop/13.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Hanging Speaker
              .product-price
                s $99
                |  $79
        .col-md-6.col-xl-4
          .product-3.mb-3
            a.product-media(href='item.html')
              img(src='../../../images/shop/14.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Beats On-Ear Headphones &mdash; Black
              .product-price $189
        .col-md-6.col-xl-4
          .product-3.mb-3
            .product-media
              .slider-dots-inside(data-provide='slider', data-dots='true')
                a(href='item.html')
                  img(src='../../../images/shop/15.jpg', alt='product')
                a(href='item.html')
                  img(src='../../../images/shop/23.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Shiny Shoe
              .product-price $128
        .col-md-6.col-xl-4
          .product-3.mb-3
            a.product-media(href='item.html')
              img(src='../../../images/shop/16.jpg', alt='product')
            .product-detail
              h6
                a(href='#') PS4 DualShock Controller
              .product-price $52
        .col-md-6.col-xl-4
          .product-3.mb-3
            a.product-media(href='item.html')
              img(src='../../../images/shop/17.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Antique Camera K145
              .product-price $677
        .col-md-6.col-xl-4
          .product-3.mb-3
            a.product-media(href='item.html')
              span.badge.badge-pill.badge-success.badge-pos-right -33%
              img(src='../../../images/shop/18.jpg', alt='product')
            .product-detail
              h6
                a(href='#') Apple Mouse
              .product-price
                s $139
                |  $99
      nav.mt-7
        ul.pagination.justify-content-center
          li.page-item.disabled
            a.page-link(href='#')
              span.fa.fa-angle-left
          li.page-item.active
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#')
              span.fa.fa-angle-right
