.border.rounded
  .text-center.px-4.py-6
    p.mb-7
      img(src='../../images/icon/light.png', alt='...')
    h6.text-uppercase.fw-500.ls-2.my-4 Starter
    p.lead For early stage startups with less than 1,000 users.
    h2.lead-8.fw-200.mb-0 $9
    p.small-2 Per user per month
    br
    a.btn.btn-outline-primary.btn-round.w-200(href='#') Get started
  .bg-light.px-4.py-6
    h6.text-center.mb-6 Starter Features
    ul.list-unstyled.mb-0
      li
        i.ti-check.text-success.mr-2
        |  Unlimited pages
      li
        i.ti-check.text-success.mr-2
        |  Unlimited traffic
      li
        i.ti-check.text-success.mr-2
        |  100+ free template
      li
        i.ti-check.text-success.mr-2
        |  Google Analytics
      li
        i.ti-check.text-success.mr-2
        |  Email support
      li
        i.ti-close.text-danger.mr-2
        |  A/B testing
      li
        i.ti-close.text-danger.mr-2
        |  Email account
      li
        i.ti-close.text-danger.mr-2
        |  Custom domain
