.row.gap-y
  .col-lg-4
    .card.card-inverse
      .card-body
        h6.card-title.fw-500 How to add new block to page builder
        p.small-1
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on.
        a.text-primary.small-3.fw-600(href='#')
          | Read more 
          i.ti-angle-right.fs-7.pl-2
  .col-lg-4
    .card.card-inverse
      .card-body
        h6.card-title.fw-500 Create block with different styles
        p.small-1
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on.
        a.text-primary.small-3.fw-600(href='#')
          | Read more 
          i.ti-angle-right.fs-7.pl-2
  .col-lg-4
    .card.card-inverse
      .card-body
        h6.card-title.fw-500 How to update the template
        p.small-1
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content. Some quick example text to build on.
        a.text-primary.small-3.fw-600(href='#')
          | Read more 
          i.ti-angle-right.fs-7.pl-2
