.row.gap-y
  .col-lg-4
    .video-btn-wrapper
      img.shadow-2.rounded(src='../../images/thumb/1.jpg', alt='...')
      a.btn.btn-glass.btn-circle.btn-light(href='https://www.youtube.com/watch?v=ah4pcPbRi2M', data-provide='lightbox')
        i.fa.fa-play
    br
    h6
      a(href='#') We relocated our office to a new designed garage
    p.small.text-lighter News
  .col-lg-4
    .video-btn-wrapper
      img.shadow-2.rounded(src='../../images/thumb/2.jpg', alt='...')
      a.btn.btn-glass.btn-circle.btn-light(href='https://www.youtube.com/watch?v=ah4pcPbRi2M', data-provide='lightbox')
        i.fa.fa-play
    br
    h6
      a(href='#') Top 5 brilliant content marketing strategies
    p.small.text-lighter Marketing
  .col-lg-4
    .video-btn-wrapper
      img.shadow-2.rounded(src='../../images/thumb/3.jpg', alt='...')
      a.btn.btn-glass.btn-circle.btn-light(href='https://www.youtube.com/watch?v=ah4pcPbRi2M', data-provide='lightbox')
        i.fa.fa-play
    br
    h6
      a(href='#') Best practices for minimalist design
    p.small.text-lighter Design
