.row.gap-y.align-items-center
  .col-md-5.mx-auto
    img.rounded(src='../../images/thumb/9.jpg', alt='...')
  .col-md-6.text-center.text-md-left
    h3 Convert your visitors to real customers
    p
      | Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king&apos;s had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn&apos;t set.
    br
    a.btn.btn-outline-primary(href='#')
      | Read More 
      i.ti-arrow-right.fs-9.ml-2
