.card.text-center.shadow-3.hover-shadow-6
  .card-img-top.text-white.bg-img.h-200.d-flex.align-items-center(style='background-image: url(../../images/thumb/11.jpg)', data-overlay='2')
    .position-relative.w-100
      p.lead-4.text-uppercase.fw-600.ls-1.mb-0 Business
      p Yearly Package
  .card-body.py-6
    p.lead-7.fw-600.text-dark
      | $64.
      span.lead-4.align-text-top 99
    p
      | 7 Website
      br
      |                   Unlimited Bandwidth
      br
      |                   Auto Import
      br
      |                   Email Support
      br
    br
    div
      a.btn.btn-round.btn-secondary.w-200(href='#') Sign up
